[2017-07-06 07:51] andrea-spotsoftware opened #1 "Cannot debug demo app on chrome"
Hey @anjmao ,
thank you for your work.
I'm following this repository because i'm also interested in building an angular library with webpack.

Just a question, are you able to debug your sources when you run the demo?
I can put breakpoints, but they are not hitting.

Ciao!

[2017-07-13 06:01] anjmao commented on #1
Hey @andrea-spotsoftware, yes, I can debug original Typescript files in Chrome, are you using command `npm run serve-demo` ?

[2017-07-18 00:40] sgentile opened #3 "Cannot install module into existing angular-cli app"
I've tried both testing with npm install ang-select --save and it's not registered with npm.

I also tried installing locally but running npm run build inside the project and using npm install "../ang-select" --save and I get errors running the application:

[code]

[2017-07-18 00:42] sgentile commented on #3
Also, curious if you have used npm link with any success ?

[2017-07-19 14:20] andrea-spotsoftware commented on #1
yes, this is the behavior:

![image](https://user-images.githubusercontent.com/6683228/28371788-31e95ff0-6c9e-11e7-9e2c-5d9d3c03a804.png)

[2017-07-20 11:15] anjmao commented on #3
I not pushed this package to npm yet, but I think you need to use `npm link` command in order to install local npm package. More info https://docs.npmjs.com/cli/link

[2017-07-20 11:27] anjmao commented on #1
Open event is triggered then you open dropdown with keyboard. Try adding break point on toggle method and you should see break point hit.

[2017-07-20 11:54] hungerregnuh commented on #3
depending on your version of npm there may be issues with cli projects - https://github.com/angular/angular/issues/15763 the last several comments cover this pretty well.

as for npm link issues see: https://github.com/angular/angular-cli/wiki/stories-linked-library

@anjmao i used both your sample and the quickstart-lib to get a webpack version going as well as the integration app using the cli.

[2017-08-10 10:08] #1 closed

[2017-08-10 10:11] andrea-spotsoftware commented on #3
@hungerregnuh i'm interested in your work, is it published somewhere? 😄

[2017-08-11 10:38] andrea-spotsoftware opened #5 "npm run integration error"
Hello @anjmao,
i have some freetime now and i'm trying your library seed.
I've noticed that integration tests are failing, looks like a configuration error

This is the console log:
[code]

Is it working on a clean install on your environment? I'm trying on master branch.

[2017-08-11 20:29] anjmao commented on #3
@hungerregnuh I will update integration app to use angular-cli soon :)

[2017-08-11 21:34] anjmao commented on #5
Hi @andrea-spotsoftware for now I removed integration project at all because I'm planning to use angular-cli for integrations tests. I added this to my roadmap, but first I want to implement all needed features for first alpha release.

[2017-08-11 21:34] #5 closed

[2017-08-11 21:35] #3 closed

[2017-08-16 10:31] anjmao opened #6 "Sometimes option selected only after second click event"
Then using custom option templates sometimes option is selected only after second mouse click. This may happen due to click on inner template html is not triggering actual click event or even bug in angular.

Steps to reproduce:
1) Open demo app http://localhost:8080#/forms in reactive forms demo tab
2) Select option from `Favorite album` fropdown using mouse.
3) Sometimes it is needed to click tw

[2017-08-16 10:34] anjmao opened #7 "Demo select in modal window"
Add demo with select in modal window to make sure all elements are shown correctly.
Bootstrap v4 modal can be used for this https://getbootstrap.com/docs/4.0/components/modal/

[2017-08-16 10:38] anjmao opened #8 "Integration app with E2E tests"
1) Create integration app generated with angular cli and link built bundles.
2) Write basic e2e tests using protractor and integrate with TravisCI.

[2017-08-18 08:07] varnastadeus opened #10 "feat(multiselect): add multiselect support"

[2017-08-22 11:08] #8 closed

[2017-08-22 11:11] anjmao opened #12 "Show keyboard on mobile devices when focused"
When select is focused keyboard should be sown on mobile devices. Seems like this code is not working correctly https://github.com/ng-select/ng-select/blob/master/src/lib/src/ng-select.component.ts#L211 on mobile.

[2017-08-22 11:16] anjmao opened #14 "Dropdown is hidden after cleared filter"
Steps to reproduce:
1) Go to https://ng-select.github.io/ng-select#/bindings
2) Search for `A` to get `No items found` message
3) Remove search with backspace
4) No items are shown but after any other click they start to show.

[2017-08-25 07:36] anjmao commented on #14
Fixed with https://github.com/ng-select/ng-select/pull/15

[2017-08-25 07:36] #14 closed

[2017-08-28 10:05] anjmao opened #17 "Autocomplete with server side data fetching"
We need to have autocomplete functionality with observable and server side filtering.

[code]

[code]

[2017-08-30 18:20] #10 closed

[2017-08-31 20:36] varnastadeus opened #21 "Mark item when entering filter"
Currently when filtering items, you can't select item which best fits your search

![image](https://user-images.githubusercontent.com/17824796/29944184-25024cd8-8ea5-11e7-87a2-06d02dd132cb.png)

[2017-09-01 07:31] varnastadeus opened #22 "Clicking on select input triggers multiple 'open', 'blur' and 'focus' events"

[2017-09-01 07:39] varnastadeus opened #23 "Navigating with arrows while having custom templates (bigger height) doesn't show current marked option"

[2017-09-01 14:07] anjmao commented on #23
FYI: This happens because of VirtualScrollComponent.

[2017-09-01 14:09] anjmao commented on #21
To solve this we need to select first filtered item on enter click.

[2017-09-01 14:28] varnastadeus opened #26 "Wrong 'KeyCode.Enter' priority when ng-select focused."

[2017-09-01 14:28] varnastadeus commented on #26
Pressing enter in reactive form demo page, hits disabled button even when ng-select focused.

[2017-09-10 17:49] anjmao opened #27 "registerOnChange is not called if not ngModel"
Handle case when ng-select is used without  ngModel. To fix this just change https://github.com/ng-select/ng-select/blob/master/src/lib/src/ng-select.component.ts#L87

from
[code]
to
[code]

[2017-09-14 15:29] #27 closed

[2017-09-14 15:31] anjmao opened #28 "Check initial if value not empty array in multiselect"
In multi select mode if ngModel is empty array we will get error because it will try to set .selected=true on undefined item
https://github.com/ng-select/ng-select/blob/master/src/lib/src/ng-select.component.ts#L193

[2017-09-15 07:52] varnastadeus commented on #17
implemented with #18

[2017-09-15 07:52] #17 closed

[2017-09-18 07:51] andrea-spotsoftware commented on #21
It would be also useful to let user select the best matching item with tab key

[2017-09-19 10:36] #28 closed

[2017-09-20 14:39] sebaranowski opened #30 "valueKey: By default binds to whole object"
Not sure why but when I use the package via `npm install` inside my application and try your example from the demo `select-bindings.component.ts`:

[code]
I have to add `valueKey="this"` to get the same result as in the demo. I guess this was the behavior prior d976c37cb3397d45d853459da31ddc6af2ab7cf6 ? This is really weird since I checked the version number in my project (`node_modules/@ng-select

[2017-09-20 14:44] sebaranowski commented on #30
Oh, I see the 0.0.5 is 5a2a94f.. npm registers the tagged versions I guess? So better use another branch like `develop` if master docs differ from tagged/npm-registered version... please ack and close :)

[2017-09-22 16:34] #26 closed

[2017-09-22 16:43] varnastadeus commented on #21
@andrea-spotsoftware #31 solves this issue and implements suggested selection on tab key

[2017-09-24 12:06] anjmao commented on #22
fixes https://github.com/ng-select/ng-select/pull/33

[2017-09-24 13:02] #21 closed

[2017-09-24 23:18] shipon-eye opened #34 "Tag input support with adding of non exist text in the list"
First of all, thanks for the nice component.
By the way, it would be better if this component support tag-input feature.
As a tag input component , if the searched query text not matched with the provided list, it will allow to add query text as new item.

[2017-09-25 06:50] anjmao commented on #34
@shipon-eye Thanks for your input. Yes this is planned feature and will be implemented in the near feature :)

[2017-09-25 06:53] anjmao commented on #30
@sebaranowski Thanks for report. Released new version with updated documentation :)

[2017-09-25 06:53] #30 closed

[2017-09-25 06:54] #22 closed

[2017-09-25 07:09] anjmao commented on #34
Possible implementation would be to have output event like this:
[code]

[2017-09-25 12:47] anjmao commented on #6
Materials which can help:
1) http://blog.angular-university.io/angular-ng-template-ng-container-ngtemplateoutlet
2) https://stackoverflow.com/questions/34326745/whats-the-difference-between-viewchild-and-contentchild

[2017-09-26 15:23] carlhussey opened #35 "Update method to refresh data?"
I have my select bound to my form control and may be running into an issue.

On init of my component, I am storing the initial value from my model in a variable. I allow the user to enable "edit Mode" on my page which gives them the multi-select drop down.

In the event that they want to back out of any changes that they made (selected/removed), I need to re-set the initial value.

`this.ruleAttri

[2017-09-26 15:56] anjmao commented on #35
@carlhussey I checked and it is a bug. Will be fixed soon. Thanks for your feedback :)

[2017-09-26 16:07] carlhussey opened #36 "Toggling show/hide of input causes duplication"
I have an input that is wrapped in a `[hidden] `directive. This input is using my reactive form model for its binding. It appears that when I toggle this input from hidden -> shown -> hidden - > shown, it causes the default options within the input to duplicate. The model seems unaffected and contains the original data.

[code]

[2017-09-26 18:02] carlhussey commented on #35
@anjmao - Thanks! Do you have estimates on your roadmap for this release? If its far out, any thoughts on work-around for the time being?

[2017-09-27 06:42] anjmao commented on #35
@carlhussey I pushed new version and updated demo to cover this case https://ng-select.github.io/ng-select#/multiselect. See Clear model button in action. Note that there are some visual things which will need be fixed like selected, hovered and marked options colors are confusing, I will create separate issue for this.

[2017-09-27 06:48] anjmao commented on #36
@carlhussey By saying default options are you talking about `valueOptions`? Maybe you can update your issue and provider more code how it looks like or maybe you can take basic ng-select plunker example and create repro https://plnkr.co/edit/tjxQgDY2Pn8RRPsoVAa0?p=preview because I'm unable to reproduce this case. Thanks :)

[2017-09-27 06:54] anjmao opened #38 "Add public method to change option state"
Problem:
Because we are using OnPush change detection it is not possible to change option state and set it disabled, selected or marked programmatically.

Possible solution:
Create public method `setOptionState(option)` in ng-select component which would allow to change option state and trigger change detection.

[2017-09-27 08:24] carlhussey commented on #35
Thank you! This appears to work fine now :)

[2017-09-27 08:24] #35 closed

[2017-09-27 08:27] carlhussey commented on #36
This looks like it was an issue on my side. Wasn't able to reproduce in a a separate scenario.

[2017-09-27 08:27] #36 closed

[2017-09-27 08:39] carlhussey opened #39 "Possible change detection issue?"
I am using this plugin on an application that has two scenarios. Data is read only, text on the page with no inputs, and one where its editable where `ng-select` is shown.

Essentially, the input is wrapped in an `*ngIf` that shows/hides it when needed.

When I show the input (`ngIf = true`), I store the original selection in an object before any changes are made to the model. If I make a change t

[2017-09-27 10:44] anjmao commented on #39
@carlhussey I found similar question on stackoverflow and it looks like I'm missing OnDestroy implementation and change detection detaching.

[2017-09-27 14:45] carlhussey commented on #39
Thank you!

This is a great library and with that fix, I can replace a bunch of old stuff and wrap up my project.

Keep up the good work, I appreciate the feedback and communication.

[2017-09-27 15:17] andrea-spotsoftware opened #41 "Allow to clear filter text value"
Hello @anjmao, i'm evaluating your component in a project that i'm working on.
It's almost perfect for my needs, but there is an issue that I found about the behavior of the input (that is actually empty) when an option item is selected.

In your opinion, it's hard to do something like this?
http://plnkr.co/edit/l3phEaaU2HyAiHlJcmwQ?p=preview
I'd like to have text selectable and clearable directly

[2017-09-27 16:02] andrea-spotsoftware commented on #41
I could open a PR for this

[2017-09-27 17:02] carlhussey opened #42 "Bind Value - How to use?"
This is probably working as intended but I figured I would ask.

I am using a reactive form, my control value is an array of objects. When I use bingLabel, everything is fine. When I bindValue to a property within the objects, it throws an error.

`ERROR Error: Binding object with bindValue is not allowed.`

[code]
Should I be able to bind to the property of an object such as `bindValue="cities.id

[2017-09-27 19:16] varnastadeus commented on #42
Hi @carlhussey,
The idea of bindValue is to be able to bind single property as your selected model, e.g. if you have `{id: '1', name: 'Vilnius'}`, and you select 'Vilnius', then your `city`will be `'1'`, therefore your model can't be anything other than your provided bindValue.

In your case you should set city as '1'
[code]

[2017-09-28 05:59] carlhussey commented on #42
Thanks for the info, this clears it up!

[2017-09-28 05:59] #42 closed

[2017-09-28 06:02] anjmao commented on #41
Hi @andrea-spotsoftware, this should be easy to do. There is showClear() method in https://github.com/ng-select/ng-select/blob/master/src/lib/src/ng-select.component.html#L41
You just need to update showClear() method to also check if filterValue was set, because currently it checks only if value was selected. Let me know if you need more help :)

[2017-09-28 07:19] anjmao commented on #39
@carlhussey I pushed fixed to npm and added this use case to demo page in cities dropdown https://ng-select.github.io/ng-select#/forms

[2017-09-28 07:28] varnastadeus commented on #38
I would argue if this is needed
1) `Selected`, `Marked` is redundant since marked is more of internal stuff, and selected is achieved by setting your model with desired value
2) You can set option disabled by repopulating your items, e.g.
[code]

[2017-09-28 07:32] andrea-spotsoftware commented on #41
I think I have not explained well 😄
You are talking about showing the cross button during filtering, right?

I was thinking about persisting selected item's display text in the html input field, making possible to select (for copy purpose) and delete it "manually", for example with keyboard backspace or canc, having the same effect of the cross button on the right.

Probably the filter input text

[2017-09-28 08:35] anjmao commented on #41
Right, now I see what you mean. I don't like the idea of adding some background color for selected text like in kendo combobox, it looks ugly :) Let just make it this as simple as clearing model value on backspace(delete) button click, this will also work in multiselect case.

[2017-09-28 09:16] anjmao commented on #38
Agree.

[2017-09-28 09:16] #38 closed

[2017-09-28 09:17] carlhussey commented on #39
Thank You! Works great, keep up the good work/

[2017-09-28 09:17] #39 closed

[2017-09-28 14:30] GoNode5 opened #45 "UX problem color"
Very nice component.

![select1problem](https://user-images.githubusercontent.com/2210672/30972277-6271550c-a46a-11e7-957f-dc98b4a7004c.gif)

The first selection staying highlighted this is also confusing...
Besides color could/would it possible to to put an Icon  'tick' for the one(s) selected as extra?

[2017-09-28 14:53] GoNode5 opened #46 "keyboard Tab problem"
If I use (shift) Tab to go next and previous field, dropdown is not closed. Also when entering and exit field an option from the list get selected. Shift-Tab and Tab shouldn't change anything

![selectproblem2](https://user-images.githubusercontent.com/2210672/30973498-8e6ec7fe-a46d-11e7-92ad-1616217dedd3.gif)

[2017-09-29 06:26] anjmao commented on #45
Thanks for reporting. This is known issue and should be fixed soon :) For putting you custom item you can use custom option template. See example https://github.com/ng-select/ng-select#custom-display-and-option-templates

[2017-09-29 07:03] #6 closed

[2017-09-29 07:25] varnastadeus commented on #45
@GoNode5 custom templates are supported only for single select for now, if that is what you are asking.

[2017-09-29 07:54] anjmao commented on #45
@varnastadeus Option custom templates are supported for both single and multiselect. Label templates are supported only in single select because it is much more complex. Probably we need to document this.

[2017-09-29 09:10] GoNode5 commented on #45
thnx for all your comments. I'am now using Chosen (jquery plugin), but would like to use native Angular.  With Chosen, selected items are grey. Although possible I almost never have to need or I filter disabled options that can't be selected anyway. Or show strikethrough? or make it CSS optional for all 3 options...

[2017-09-29 15:47] varnastadeus commented on #45
@GoNode5 Regarding colors, current style is provided as baseline and since we can't match everyone's preference we will keep it that way, although there might be some slight changes in the future. If you want, you can customize it yourself e.g.

[code]

I added pull request #49 which fixes issue you mentioned ```The first selection staying highlighted...```. As to other features, please feel free

[2017-09-30 07:31] #45 closed

[2017-09-30 09:01] #41 closed

[2017-09-30 09:16] #23 closed

[2017-09-30 17:04] carlhussey opened #52 "Change in Single Item Template?"
Was there a recent change in the custom template for a single item?

Here was my setup in `0.1.2`:
[code]

After upgrading to `0.1.3`, when I select an Item, the input is only using the `bindingLabel` value as the information that it shows in the dropdown instead of the custom template.

If this did change, how can I continue to use the template?

[2017-09-30 17:17] anjmao commented on #52
@carlhussey Sorry for this, we changed `ng-display-tmp` to `ng-label-tmp`, you just need to update this name. As noticed in Readme until 1.0 version there would be some breaking changes at some points.

[2017-09-30 17:19] #52 closed

[2017-09-30 17:27] carlhussey commented on #52
No problem on the breaking changes, just wanted to make sure it wasn’t something I broke :). Thanks for the update!

[2017-09-30 19:51] #46 closed

[2017-10-01 10:45] shipon-eye opened #55 "Close the option list when it lost focus"
![untitled](https://user-images.githubusercontent.com/4049153/31053838-c3d504d8-a6c7-11e7-97d7-a1134f9bb03d.png)

Thanks for the nice component and for the frequent updates.
By the way, I am using the ng-select component in one of my ionic 3 project.
In my project, i have found that if the "[multiple]="true"", the option list (drop down) doesn't close when I move focus to next component by pressin

[2017-10-01 12:03] anjmao commented on #55
@shipon-eye Are you using 0.2.0 npm version? I cant reproduce it in demo page. For me dropdown is closes on blur and on tab click.

[2017-10-01 12:13] anjmao opened #56 "Multiselect height on small resolution"
### Expected behaviour
Should not create new line if items can fit in select

### Actual behaviour
<img width="385" alt="multiselect-height" src="https://user-images.githubusercontent.com/3028012/31054412-bb2a6632-a6ba-11e7-88f1-5a8dee572f59.png">
On small resolution items can fit but new line is created because invisible filter width is 170px by default. It should not create new line if selected

[2017-10-01 13:05] GoNode5 opened #58 "UX not found should clear and close"
(really impressed by the last commits thank you!!!)
demo page:
when TAB
- dropdown should close
- when not found, should clear the not found entry input
![selectnotfound](https://user-images.githubusercontent.com/2210672/31054733-beaf2578-a6b9-11e7-9a89-92118e7aa039.gif)

[2017-10-01 14:15] anjmao opened #60 "Selected value is not set after data loaded asynchronous"
### Expected behaviour
Set selected item after items loaded asynchronous

### Actual behaviour
Selected item is not set because `writeValue` method is called before items input is updated. Possible solution is to initialise itemsList only once and update its items on other changes.
https://ng-select.github.io/ng-select#/forms Selected photo should be first one after items loaded from backend.

###

[2017-10-01 14:18] anjmao commented on #58
@GoNode5 Thanks for reporting :) @varnastadeus can you have a look at some point?

[2017-10-01 17:42] anjmao commented on #7
Solved in https://github.com/ng-select/ng-select/pull/59

[2017-10-01 17:42] #7 closed

[2017-10-01 19:52] shipon-eye commented on #55
My npm version is 3.10.10. By the way, I am using Visual Studio 2017 Community version to develop Ionic 3 Hybrid + PWA app. following are the ionic and angular configs:
"@angular/common": "4.3.5",
    "@angular/compiler": "4.3.5",
    "@angular/compiler-cli": "4.3.5",
    "@angular/core": "4.3.5",
    "@angular/forms": "4.3.5",
 "ionic-angular": "3.7.1",
    "ionic-native": "^2.9.0"

[2017-10-01 22:12] carlhussey opened #62 "Text string placeholders not working"
Please fill below information if issuing a bug report.
### Expected behaviour
When defining the attributes `typeToSearchText` and `notFoundText`, I would expect that the two areas that show the default text would be replaced with the user provided data.

### Actual behaviour
The default data is used for both attributes.

### More Info
ng-select version: 0.1.2

browser: google chrome

reproducible

[2017-10-01 22:17] carlhussey commented on #62
Apparently npm gave me some trouble and didn't update to the latest version. `This works in 0.2.1`.

[2017-10-01 22:17] #62 closed

[2017-10-02 08:16] varnastadeus commented on #55
@shipon-eye update ng-select package to latest version, this issue is already fixed there.

[2017-10-02 23:01] carlhussey opened #64 "Clearable doesn't reset the searched data"
Please fill below information if issuing a bug report.
### Expected behaviour
When clicking on the clear icon, I would expect that upon entering the field, the previous results would not be shown.

### Actual behaviour
After clearing the field, upon selecting the input for a search, it shows the last results it found instead of starting over.

### More Info
ng-select version: 0.2.1

browser: chrom

[2017-10-03 06:52] anjmao commented on #64
Thanks for reporting, this is quit easy to fix, probably will be fixed today :)

[2017-10-03 06:54] #58 closed

[2017-10-03 08:37] GoNode5 opened #65 "After selecting and clearing, tab inserts item"
After selecting and clearing, tab inserts item

![dropdownopen3](https://user-images.githubusercontent.com/2210672/31116565-decdcc60-a826-11e7-99ff-adfbcdf2679c.gif)

[2017-10-03 08:46] GoNode5 opened #66 "Multiple input, after search and select delete input"
Please fill below information if issuing a bug report.
### Expected behaviour
Multiple input, after search and select delete input.

### Actual behaviour
After search and select, the input is not cleared. If you want to search for an whole other beginning/letter, the user uses backspace but that clears the selection. By default the input should be cleared in my opinion.

reproducable in demo page:

[2017-10-03 08:55] GoNode5 opened #67 "Selecting mouse, leaving with tab leaves dropdown open"
Describe how it actually works
Selecting mouse, leaving with tab leaves dropdown open. It seems only at first entry, or selecting with mouse. (My users combine entry's with mouse & keyboard)
![tabnotclosing](https://user-images.githubusercontent.com/2210672/31117240-6bc7509e-a829-11e7-83f4-c3bb53f7b11d.gif)

[2017-10-03 09:16] varnastadeus commented on #65
@GoNode5 it works as expected, since tab selects last highlighted item. If you want to close dropdown without selection you should press ESC or click away.

[2017-10-03 09:21] GoNode5 commented on #65
Cannot agree. Tab is never a way to select anything. Suddenly there is is something chosen because of highlight? Never seen this kind of logic...

[2017-10-03 09:43] varnastadeus commented on #65
ok, I will do some investigation and will get back to you

[2017-10-03 11:17] GoNode5 commented on #65
Thnx I'am a little biased. The Chosen/Jquery Multiple Select works perfect. I never get any support questions. I did a test with replacing it ng-selects and I was getting questions within an hour (surely about the colors).  I strongly suggest to take a look how Chosen works, its also based on years of UX (2011)..

[2017-10-03 12:41] varnastadeus commented on #65
From Chosen I can see that it does selects value on tab when single, and doesn't when multiple. Will that work?

[2017-10-03 13:21] anjmao commented on #65
@GoNode5 There are a lot of components and they all do it in different way. I think best way is to only close dropdown on tab click and not select any value at all, because It can be selected on enter click. Also angular material 2 is doing it the same way, not selecting any value.

[2017-10-03 19:35] Eretik commented on #55
@anjmao, @varnastadeus Unfortunately, I can reproduce this bug it on last build. ng-select element lose class 'focused' but not 'opened'. The only way to close it - set focus to other input element on the page and click somewhere out of this input to fire 'blur' event.

[2017-10-04 08:25] varnastadeus commented on #55
@Eretik can you add more description how can I reproduce it?

[2017-10-04 12:24] Hesesses opened #68 "Not working in lazy child modules"
I have tried the following but cant get the plugin to work.
[code]
And when trying to use it on lazy loaded module, i'm getting this error.
[code]

I also have shared module which is working with every other component. When I import the ng-select on shared.module i'm getting this error:

[code]
Any ideas?

Please fill below information if issuing a bug report.

### More Info
[code]

ng-select vers

[2017-10-04 14:10] anjmao commented on #68
@Hesesses Thanks for reporting. I'm looking into it now.

[2017-10-04 14:44] Hesesses commented on #68
Thanks, let me know if I can help somehow :)

[2017-10-04 14:57] anjmao commented on #68
@Hesesses Just pushed new version to npm `@ng-select/ng-select@0.2.3`. Update it and let me know it if works now :)

[2017-10-04 14:58] #60 closed

[2017-10-04 15:02] anjmao commented on #64
@carlhussey I pushed new version to npm, here is demo with this case https://ng-select.github.io/ng-select#/filter-server.

[2017-10-04 15:02] #64 closed

[2017-10-04 15:13] carlhussey commented on #64
Looks good, solves the problem :) - nice work!

[2017-10-04 15:14] Hesesses commented on #68
Now it seems to be working, atleast it is rendering, but i see this error on console:

[code]

[2017-10-04 15:16] anjmao opened #69 "Custom dropdown template"
Currently we can customize label and option appearance which is great but there is cases when you want to fully control how items in dropdown are rendered, for example custom grouping. For this purpose we can allow to override full dropdown template to get maximum control and customization. Example:
[code]

[2017-10-04 15:20] anjmao commented on #68
To fix it you need to initialise items array in you component.
[code]

[2017-10-04 15:26] Hesesses commented on #68
Works now. Btw this is by far the best select component in angular2+
Awesome job!!!

[2017-10-04 15:26] #68 closed

[2017-10-04 15:35] anjmao commented on #68
Good to hear it !!!

[2017-10-04 15:44] #65 closed

[2017-10-04 15:48] #67 closed

[2017-10-04 15:57] anjmao opened #71 "Append to body"
We need to allow to append dropdown to body to handle cases there dropdown is shown in absolute containers with overflow:hidden.

[2017-10-04 16:00] varnastadeus commented on #55
@shipon-eye @Eretik Try updating to latest version and check if it still reproducible. #67 should fix that

[2017-10-04 16:30] #66 closed

[2017-10-04 20:08] varnastadeus opened #73 "Custom label template in multi select"
Allow to have custom template for selected values in multi select as it already supported in single mode.  E.g.

[code]

- [x] Custom label
- [x] Custom unselect

[2017-10-10 04:32] mi1olson opened #74 "Disable Issue"
Hi, anjmao
I face a problem about multi select disable, when the ngSelect inside FormGroup tag and modal, it wont disable the multi select. so how can fix it?

### More Info
ng-select version: [0.2.5]

browser: [Google Chrome]

reproducable in demo page: [YES]

[2017-10-10 06:42] anjmao commented on #74
@mi1olson Thanks for reporting, I'm looking into it :)

[2017-10-10 07:04] anjmao commented on #74
@mi1olson It appears that then using reactive forms you should disable it using form control API and [disabled] attribute wont work, this is how angular reactive forms work. I added this sample to demo page also.
[code]

[2017-10-10 07:31] #74 closed

[2017-10-10 09:36] mi1olson commented on #74
Thank You very much Mr Anjmao. :)
its works for me

[2017-10-11 16:35] Goonersid opened #76 "MultiSelect Two way bind"
I Would like to set the value/ add a tag after the component has been instantiated. I currently have my code looking like this,
[code]

Component :

[code]
### Expected behaviour
INR should be added as a tag in the drop down.

### Actual behaviour
It does not listen to changes made in the selectedAccounts programatically, even if it is two way bound.

### More Info
What works is this... I have to

[2017-10-11 17:10] varnastadeus commented on #76
Hi, in my latest pr #77 I updated readme about change detection. Current behaviour works by design and here is the reasoning:

# Change Detection
Ng-select component implements `OnPush` change detection which means the dirty checking checks for immutable
data types. That means if you do object mutations like:

[code]

Component will not detect a change! Instead you need to do:

[code]

This will c

[2017-10-11 17:15] Goonersid commented on #76
Thanks for the explanation.. That works

[2017-10-11 17:15] #76 closed

[2017-10-11 17:16] varnastadeus commented on #76
you can read more on https://blog.thoughtram.io/angular/2016/02/22/angular-2-change-detection-explained.html if you are interested.

[2017-10-11 17:17] Goonersid commented on #76
Ah.. Thanks mate! 👍

[2017-10-12 17:39] burakkilic opened #78 "Control stucks when binded"
Please fill below information if issuing a bug report.
### Expected behaviour
The user should be available to scroll down to the end of the list.
### Actual behaviour
1 - Cannot scroll until the end of the list
2 - When an option is selected, it is mixed with the placeholder
### More Info
ng-select version: 0.2.5

browser: Chrome

reproducable in demo page: [YES/NO]

    this.sharedService.getLang

[2017-10-12 17:55] burakkilic commented on #78
I added name attribute to ng-select (it is not written in the manual) and it worked.

[2017-10-12 23:08] varnastadeus commented on #78
yes, you need to have name attribute when using reactive forms in angular.

[2017-10-12 23:08] #78 closed

[2017-10-13 12:58] varnastadeus opened #79 "Dropdown stays opened when opening another one"
### Expected behaviour
Dropdown should close when opening separate one.

1. Open first dropdown
2. Open next dropdown using mouse
3. First dropdown stays open

### More Info
reproducable in demo page: YES

![image](https://user-images.githubusercontent.com/17824796/31547259-482daecc-b02f-11e7-9261-385eac50196a.png)

[2017-10-13 12:59] varnastadeus commented on #79
its because of ```event.stopPropagation()``` on ```handleSelectClick```

[2017-10-13 17:28] #55 closed

[2017-10-16 11:05] #56 closed

[2017-10-16 11:05] #73 closed

[2017-10-17 09:48] Hesesses commented on #56
![image](https://user-images.githubusercontent.com/2721970/31658252-385c851a-b339-11e7-8d3a-824e64893f6e.png)

I'm still having this issue. Using the 0.2.5v

[2017-10-17 10:52] varnastadeus commented on #56
it will be fixed with next release, later today

[2017-10-17 22:24] carlhussey opened #80 "Setting default type-ahead model?"
If using the type ahead setup, how can I populate the field with a default object (label and value)?

I am creating the "edit" portion of a page and I need to set this field to some data fetched from the database. It is still clearable and searchable but I need to set its default value.

[2017-10-18 06:36] anjmao commented on #80
Currently we determine selected item by items input array. As are workaround for now you can push one item with array to `items` input and then it will bind to you ngModel.
[code]
I added this as improvement because we can determine label and value if ngModel is object without the need to populate items array.

[2017-10-18 15:02] carlhussey commented on #80
What if I am using a custom template? Would I be able to set that manually ?

[code]

[2017-10-18 18:36] carlhussey commented on #80
I figured this out per your example, thank you.

[2017-10-18 18:42] carlhussey opened #81 "Show placeholder when field is active?"
I am not sure if this is a bug or intentional so I wanted to run it by as a question first.

I am using the typeahead setup from the demos and I noticed that when you click the field to enable the search, it leaves the current value there until you being typing.

Would this make sense to show the placeholder there instead?

![screen shot 2017-10-18 at 11 35 35 am](https://user-images.githubusercon

[2017-10-18 18:50] carlhussey opened #82 "Typeahead allows me to clear the field when clearable is false"
Please fill below information if issuing a bug report.
### Expected behaviour
When I have `clearable=false`, I should not be able to clear out the value that is in the field. If I decide to begin searching and then remove the data by backspacing, I would expect the original value to still show up.

### Actual behaviour
When I begin typing a result and then backspace and remove my search term, it l

[2017-10-18 20:01] carlhussey opened #83 "Request to add support for multiple = true on typeahead"
Please fill below information if issuing a bug report.
### Expected behaviour
When using the type-ahead example with `multiple=true`, I would expect to be able to search for one or more values from a service and select them. Upon clicking on this field again to add more, I would expect that my new search wouldn't wipe out what was already there and replace it with the new results.

### Actual beha

[2017-10-19 04:41] davidaah opened #84 "Unable to leverage unselect() feature when using ng-label-tmp"
(I'm not sure if this is so much of a bug report or a feature request)

### Expected behaviour
When using ng-template "ng-label-tmp" it should still be possible to leverage built-in [unselect()](https://github.com/ng-select/ng-select/blob/6a911270a39fb7d3a10d6820b78c73dca75c8da5/src/lib/src/ng-select.component.html#L6) action
(Alternatively, as a feature: allow user to optionally disable items in

[2017-10-19 05:29] varnastadeus commented on #84
Hi @davidaah, it's currently possible and there is example on demo page under multiselect.
Basically you need to declare **clear** action and add it to click event you want.
[code]

[2017-10-19 05:33] varnastadeus commented on #84
code from demo: https://github.com/ng-select/ng-select/blob/master/src/demo/app/examples/multi.component.ts

[2017-10-19 06:13] davidaah commented on #84
@varnastadeus ahh excellent thank you, not sure how i missed this... I was able to implement this but now the clear() action *and* the dropdown selector are getting triggered by the onClick event

reproduced in plnk -- https://embed.plnkr.co/qgZgyfAUaGrZNVb2NfQQ/

[2017-10-19 06:21] varnastadeus commented on #84
yes, and default implementation covers that. In custom templates you must handle it by yourself, since we are not in control what user template would be. Try this one
[code]

[2017-10-19 06:41] davidaah commented on #84
great thanks! that get's me up to https://github.com/ng-select/ng-select/issues/79 ... will keep an eye out for an update on that one.
one other question for you @varnastadeus which is quite possibly another oversight on my part and if so i apologize. i've been having trouble overloading some of CSS properties exposed by the module.

because the classes are injected within `ng-select` but outside

[2017-10-19 09:28] varnastadeus commented on #84
you got it working because additional selectors adds higher priority in css. You can get it to work with `!important`also, but the original issue is that **ng-select** styles are loaded after your page styles which overrides your customisations if selectors are equal.

[2017-10-19 09:31] varnastadeus opened #86 "Load components styles before page styles to ease styles overriding"
Currently **ng-select** styles are loaded after app styles, which makes it hard to add your custom styles. Need to see if we can change this behaviour and load it first in html page.

[2017-10-19 09:36] varnastadeus opened #87 "Multiple: hide close button if selected item is disabled"

[2017-10-19 09:39] varnastadeus commented on #84
also added #87, to hide close button for disabled selected items

[2017-10-19 09:42] anjmao commented on #83
@carlhussey This is definitely needed feature. Thanks for suggestion :)

[2017-10-19 09:49] varnastadeus commented on #83
in demo page, https://ng-select.github.io/ng-select#/filter-server, it works as you described

[2017-10-19 14:40] carlhussey commented on #83
Ah thanks @varnastadeus - I didn't think to compare the plunk and the one from the demo page. Looks like this already has been accounted for.

[2017-10-19 14:40] #83 closed

[2017-10-19 22:17] davidaah commented on #84
thank you very much!

[2017-10-19 22:17] #84 closed

[2017-10-20 04:28] Goonersid opened #89 "Change event does not fire for manual sets"
When i programmatically set a value in the select box, the change event does not fire...

[code]
### Expected behaviour
Change event should not depend on selection, it should fire no matter how the tag has been added.

### Actual behaviour
Change event fires only if a selection has happened through the select box ui.

[2017-10-20 06:44] anjmao commented on #89
@Goonersid Currently change event is fired if model was changed inside ng-select using its controls. Can you describe your use case why would you like to get change event fired if you are setting model programmatically because in this case you already know that change will happen. Thanks :)

[2017-10-20 07:38] Goonersid commented on #89
@anjmao  If i had a change event implementation i'd always listen to the change event , programmatically or from the View.. Makes things easy to implement.. Currently i have to call a method from two places, one post manually setting the value and one in the change callback..

[2017-10-20 08:41] Hesesses commented on #34
This feature would be super awesome!

[2017-10-20 12:08] Goonersid opened #91 "Multi select Empty input Backspace causes change event to fire"
Every time you hit backspace on an empty select box, it causes change event to fire.

### Expected behaviour
Change event should fire only when the value has changed

[2017-10-20 14:22] anjmao commented on #89
This can be fixed by one line of code in ng-select but I checked more popular libraries like angular material 2 select and it also work the same way. If model is changed programatically then change event is not fired and this make sense because you can control it better. I hope this helped you :)

[2017-10-20 14:22] #89 closed

[2017-10-20 14:27] anjmao commented on #91
@Goonersid Thanks for reporting :)

[2017-10-20 14:38] anjmao commented on #81
@carlhussey That is a good use case in you example. I will add few more classes on ng-select so it will be possible to control this behaviour and hide placeholder on typeahead :)

[2017-10-20 17:48] #81 closed

[2017-10-20 18:36] anjmao commented on #81
@carlhussey Example

Example for showing placeholder when dropdown is opened and typeahead is used
[code]

[2017-10-20 18:40] #34 closed

[2017-10-21 09:33] GoNode5 opened #93 "[single select] cursor disappear"
Cursor should be show, tab should close list (I do x to clear then tab  to leave select

BTW Thank you for all your updates. This becoming as the most usable select !!! Great Job.

Another option would by that an single select is not editable when there are limited choices  ...

![singleselect](https://user-images.githubusercontent.com/2210672/31850524-98783620-b653-11e7-9ef1-7aca38356852.gif)

[2017-10-21 13:22] anjmao commented on #93
@GoNode5 Thanks for reporting :)

[2017-10-21 13:27] anjmao opened #94 "Use ng-packagr for for library npm build"
Currently we use custom build and rollup setup to compline with [angular package format](https://goo.gl/AMOU5G) but it is better to remove all custom build scripts and use well written [ng-packagr](https://github.com/dherges/ng-packagr)

[2017-10-21 15:41] varnastadeus opened #96 "use jest for tests"

[2017-10-21 22:10] #87 closed

[2017-10-21 22:31] #94 closed

[2017-10-22 20:59] davidaah opened #99 "ng-value-label should have a (click)="$event.stopPropagation()""
Please fill below information if issuing a bug report.
### Expected behaviour
Clicking a label name should not open the dropdown menu for multi select

Suggest adding `(click)="$event.stopPropagation()"` to `ng-value-label` as in https://github.com/ng-select/ng-select/commit/3609a108f82b055127e17a8177f70702510487dc#diff-68265c9310f2ae9e060ab288eb5e8491R8

### Actual behaviour
Clicking a label name

[2017-10-23 06:28] anjmao commented on #96
Jest + angular 2 https://github.com/thymikee/jest-preset-angular

[2017-10-23 06:36] anjmao commented on #99
I was thinking about this before but there are cases like this one:
<img width="430" alt="multifull" src="https://user-images.githubusercontent.com/3028012/31875131-78538e3e-b7d5-11e7-85ba-64e519bcebd2.png">

In this case multiselect is full and there is almost no space where to click to open it, this is why this behaviour is a way to go :)

[2017-10-23 09:48] varnastadeus opened #100 "Support simple arrays"
Add support for simple arrays like:
[code]

[2017-10-23 19:06] #99 closed

[2017-10-23 23:28] davidaah commented on #99
Thanks, understood! For now I have overridden the behavior using templates

[2017-10-24 06:05] Goonersid opened #102 "Multi select change event"
Hi, I have a query... I have a custom auto complete implementation on multi select. I'm noticing the following behaviour for change event.. When we just type in something random and click outside the select box, it correctly clears out the text in the input , but also fires the change event. Is it  necessary to fire the change event in this case as no tag was added or dropped.

[2017-10-24 06:07] Goonersid commented on #102
Might be related to #91

[2017-10-24 06:56] Goonersid opened #103 "Keyboard navigation gains default focus"
I have a requirement which varies slightly with the default behaviour of the component..

Requirement : Have the first item in a dropdown gain focus only when the user wants to focus by pressing the down arrow key on the input..

Currently on filtering , the first item gains focus by default..
Is it possible to introduce a default Focus flag which is true by default and can be turned to false if t

[2017-10-24 21:39] noejon opened #104 "Dropdown z-index graphical bug"
Please fill below information if issuing a bug report.
### Expected behaviour
When the options are dropped down, they should always be on top of the elements of the form below.

### Actual behaviour
So currently the z-index for the ng-menu-outer is set to 1.
If there happens to be a input with form-control embedded in a input-group, the input will display on top of the ng-menu-outer.
The reason fo

[2017-10-25 05:59] anjmao commented on #104
@noejon Thanks, I merged this change :)

[2017-10-25 06:17] anjmao opened #106 "Multiselect height is bigger than single select"
### Expected behaviour
Select height should be 36px for both single and multiselect

### Actual behaviour
Multiselect height is 38px, single select height is 36px;

### More Info
ng-select version: 0.4.1

browser: chrome

reproducible in demo page: YES

[2017-10-25 06:36] #104 closed

[2017-10-25 06:48] anjmao commented on #103
@Goonersid First item in dropdown gets focused because it indicates that if you press enter then first item will be selected. If we add this flag then we will need to prevent selecting first item on enter click so user should always use arrows navigation to select item. Also there are cases then you filter something and there is only item to select from, then you dont need to use keyboard arrows t

[2017-10-25 11:51] #96 closed

[2017-10-25 11:52] #12 closed

[2017-10-25 16:43] Goonersid commented on #102
@anjmao any update on this??

[2017-10-26 05:08] anjmao commented on #102
@Goonersid That is a good catch! It should not fire change event on this case. I hope I will fix it this week :)

[2017-10-26 13:26] arun-maddheshia opened #107 "No option to disable Typehead"
### Expected behaviour
Their is no option to turn off search input.

### Actual behaviour
I want to use it as single select without search I can't

### More Info
ng-select version: 0.4.1

[2017-10-26 15:51] #106 closed

[2017-10-26 20:57] varnastadeus commented on #107
Hi, thanks for request. This is indeed a valid situation, we will try to implement it so users could get desired behaviour with ease.

[2017-10-26 20:58] varnastadeus commented on #103
I think we need to consider making it configurable.

[2017-10-27 14:35] anjmao commented on #80
@carlhussey It is now possible to set model with selected value even if you don't have items loaded. See server side filter https://ng-select.github.io/ng-select#/filter. You just need to set your model as object so ng-select can know what is label and value.

[2017-10-27 14:36] #80 closed

[2017-10-28 05:20] arun-maddheshia commented on #107
Thanks waiting for this update so I can implement in my live project other property and interface are so cool.

[2017-10-28 10:54] #82 closed

[2017-10-28 10:54] #91 closed

[2017-10-28 10:54] #102 closed

[2017-10-28 11:15] varnastadeus commented on #71
Even append to body wont solve issue with overflow

[2017-10-28 13:31] Goonersid commented on #103
@anjmao @varnastadeus Can i know the final decision on this??

[2017-10-28 13:38] Goonersid commented on #103
@anjmao i do agree... We still have two select boxes in the same application where both behaviors are intended..Its kind of difficult to educate users beyond an extent :| A configuration would help us to a larger extent..

[2017-10-28 15:27] GoNode5 opened #109 "feature request change Ux"
Would it be possible to change the default interface with selected items are non selectable. I'am very happy with current ng-select but I still get a lot of user complaints. I think the chosen.js user interface by greying out selected items is much more clear.  I never saw a need in  showing a select box with disabled items. Just don't show them...

![image](https://user-images.githubusercontent.c

[2017-10-28 15:43] anjmao commented on #109
@GoNode5 I agree with you, what do you think about not showing selected items in dropdown items list at all?

[2017-10-28 15:44] anjmao commented on #109
@varnastadeus We talked about this a lot, probably the best idea would to not show selected items in the dropdown list. What do you think?

[2017-10-28 15:52] GoNode5 commented on #109
The best thing would be if its optional but think its also a good idea. Thank you for considering :-). To be honest I have for year using chosen so I'am a little biased.
I understand that it's easier to remove, so for now not showing selected items is fine. Also from a user point of view it's at least very clear.

[2017-10-28 17:28] anjmao commented on #103
@varnastadeus Probably we can add input called [markOnOpen]="false" to turn off this behaviour when needed.

[2017-10-28 20:25] #93 closed

[2017-10-28 20:28] #79 closed

[2017-10-28 20:54] varnastadeus commented on #109
@GoNode5 you can achieve desired look just by overriding css
![image](https://user-images.githubusercontent.com/17824796/32138441-660de426-bc3b-11e7-85f3-669d19684417.png)

[2017-10-28 21:40] varnastadeus commented on #109
@anjmao regarding not showing selected items at all, I don't see any good reason why we should change default implementation.

[2017-10-29 08:52] GoNode5 commented on #109
@varnastadeus No problem. I will try the css, thanks. Didn't know about pointer-events. Learning everyday... In the end there always be different opinions about user interfaces. An endless debat indeed.  I can always rewrite, fork or pr :-). I think this select, already promoting it to others. It has a good base. Still very happy

[2017-10-30 14:01] carlhussey opened #114 "Input value as -1 causes error"
Please fill below information if issuing a bug report.
### Expected behaviour
I have a system that uses `-1` as a value. In my dropdown options, `-1` is an option in the list to pick from. I would expect to be able to have this as a valid value.

### Actual behaviour
In version `0.4.3+`, I receive an error about not being able to create a property and it references this specific input value.

`Imp

[2017-10-30 17:56] varnastadeus commented on #114
can you pass your items list here?

[2017-10-31 06:32] anjmao commented on #114
@varnastadeus This line https://github.com/ng-select/ng-select/blob/master/src/ng-select/ng-select.component.ts#L403 is causing this. Probably bindValue is not but model is used as simple value. This is fixed in https://github.com/ng-select/ng-select/pull/113/files by checking if value is object.

[2017-10-31 06:49] anjmao commented on #107
@varnastadeus Any progress on this? This is a very simple feature to add, maybe I can take it ?

[2017-10-31 09:50] burakkilic commented on #42
How can we preselect multiple objects?

[2017-10-31 14:26] #109 closed

[2017-10-31 16:36] anjmao commented on #114
@carlhussey This should be fixed in `@ng-select/ng-select@0.5.0`. Let me know if it works.

[2017-11-01 15:05] GoNode5 opened #117 "Allow custom keyboard actions"
The Yes/No example is ok but to much keys to select a yes or no, by keyboard. After key Y or N you need to confirm with enter. For people trained to use the keyboard (not filling forms with mouse ;-) ) its not handy. A key Y or N should by enough, maybe not even an dropdown shown...  I would rather choose for checkbox or switch... then 1 key is enough...

[2017-11-02 15:05] #114 closed

[2017-11-02 15:06] anjmao commented on #114
@carlhussey I'm closing this one as it seems to work now :)

[2017-11-02 15:09] jskuby opened #118 "Odd virtual scroll behavior when options aren't the same height"
### Expected behaviour
Smooth scrolling through list of variable height items

### Actual behaviour
When scrolling an options list and the options are of varying heights (some are 1 line, others wrap to 2 or more) the list jumps around making it difficult to navigate and select an option.

### More Info
ng-select version: 0.5.0

browser: Chrome, Safari (Mac and iOS)

reproducible in demo page: YES

[2017-11-02 17:06] #107 closed

[2017-11-03 10:59] varnastadeus commented on #107
added support of searchable in 0.6.0
[code]

[2017-11-03 11:12] arun-maddheshia commented on #107
thanx buddy you make my day easy.

[2017-11-07 14:51] carlhussey opened #120 "Input not closing on selection?"
Please fill below information if issuing a bug report.
### Expected behaviour
When I use the typeahead or standard dropdown menu, upon selecting an option, I would expect the input to close unless multiple = true.

### Actual behaviour
Upon selecting an option, the dropdown menu stays open.

### More Info
ng-select version: 0.6.1

browser: chrome

reproducible in demo page: no

--

Is there anythi

[2017-11-07 15:10] carlhussey commented on #120
Here is an example of it happening. I added a change event to it so I can see that there is a value assigned to it as expected. https://giphy.com/gifs/l1KdbJZv8LyP2w156/fullscreen

[2017-11-09 05:41] arun-maddheshia opened #122 "Unable to bind model in Loop Statemnt"
In a loop statement get error if I assign ngModel value dynamic like Cannot read property '0' of undefined and if it is static all looped data value changes from any select change.
[code]
### Expected behaviour
![3](https://user-images.githubusercontent.com/5073214/32591807-f3753a8a-c546-11e7-987b-502a870218f8.png)

### Actual behaviour
![1](https://user-images.githubusercontent.com/5073214/325918

[2017-11-09 07:19] varnastadeus commented on #122
Hi @arun-maddheshia, can you provide more information what exactly you are doing? You are looping through some sort of list and adding `ng-selects`?

[2017-11-09 07:21] varnastadeus commented on #120
@carlhussey, can you make reproducible plunker or is it only reproducible on your page?

[2017-11-09 07:27] anjmao commented on #120
@carlhussey That is strange issue, can you paste what classes ng-select has when you select item. For example:
`class="typeahead searchable ng-single ng-valid ng-dirty ng-touched"`

[2017-11-09 07:45] #122 closed

[2017-11-09 07:47] arun-maddheshia commented on #122
Hi @varnastadeus please delete this my code is wrong now its working sorry for raising an issue without proper debug.

[2017-11-09 14:06] carlhussey commented on #120
After seeing that its working in the demo, I am fully aware this is probably an issue on my end. I was hoping this may have came up before in some way so I know where to start with my code.

**Default, untouched:**

`searchable ng-single ng-untouched ng-pristine ng-invalid`

**Opened**:

`searchable ng-single ng-untouched ng-pristine ng-invalid opened`

**Value Selected:**

`searchable ng-single n

[2017-11-10 07:27] anjmao commented on #120
Hm, I see class opened is still present when value is selected, this is why you see dropdown opened. I will check code in ng-select where it is handling opened class, because it can be related to OnPush change detection strategy.

[2017-11-10 08:14] anjmao commented on #118
I released new version with css fix to prevent text wrapping to new line. If you have custom template in some cases will need to to add custom css by yourself.
![image](https://user-images.githubusercontent.com/3028012/32648682-a23966b4-c5ff-11e7-8c9e-d403fb1d978e.png)

[2017-11-10 14:19] jskuby commented on #118
I appreciate the quick response on this.  Preventing text wrapping is fine for some use cases, however my use case is a bit different.  I need the full option text to be shown because I have a category list with some long names that are very similar.  Would it be possible to add disabling the virtual scroll and not have the text wrap when it's disabled?  I ended up creating a branch and adding the

[2017-11-10 17:04] varnastadeus commented on #118
I am reopening this issue since wrapping fixes half of problem

[2017-11-12 14:56] anjmao commented on #118
@jskuby  I will add input property for disabling virtual scroll as it may be usefull in general, currently it is disabled if there are less than 20 items https://github.com/ng-select/ng-select/blob/master/src/ng-select/virtual-scroll.component.ts#L107. I can add  ‘disableVirtualScroll’ input which can be of type boolean | Function so you can disable it by setting to false or by giving predicate fu

[2017-11-12 22:27] Hesesses opened #124 "Add multiple tags"
### Expected behaviour
I should be able to add multiple tags

### Actual behaviour
Only first tag is added

### More Info
ng-select version: 0.6.2
browser: latest chrome
reproducible in demo page: [NO]

I'm using reactive forms with formControlName
![image](https://user-images.githubusercontent.com/2721970/32704143-2064ff02-c809-11e7-9bdc-67e98caca44e.png)

[2017-11-13 07:15] anjmao commented on #124
@Hesesses I'm unable to reproduce this in reactive forms. Can you provide more info how are inserting second tag and you ng-select html code?  Thanks :)

[2017-11-13 07:20] anjmao commented on #117
This can be an improvement for custom keyboard actions so you can subscribe to them and do actions using public api.

[2017-11-13 09:40] Hesesses commented on #124
https://www.useloom.com/share/63715cf9e199447885816eb01fa8b857

this is my html
[code]

[2017-11-15 12:05] Goonersid opened #126 "Change event fires without value change - multi select"
I have a type ahead dropdown with multi select enabled... When i type in a few characters like 'test' and hit the X or close button, the change event fires..
### Expected behaviour
Change event needs to fire only when the value has changed, i.e tag added or dropped

### Actual behaviour
change event fires

[2017-11-15 17:28] anjmao commented on #124
@Hesesses Thanks, I was able to reproduce it :)

[2017-11-16 07:29] anjmao commented on #126
@Goonersid  thanks for reporting :)

[2017-11-16 07:38] anjmao commented on #118
@jskuby A pushed new version there you can disable virtual scroll https://ng-select.github.io/ng-select#/virtual-scroll. I will continue working on making dynamic items height calculations for it to work properly.

[2017-11-16 08:31] arun-maddheshia opened #127 "Default Item Selected not working"
Please fill below information if issuing a bug report.
### Expected behaviour
Describe how you think it should work
By default I set Yes to selected as Native select works
But nothing selected in Ng-Select
![2](https://user-images.githubusercontent.com/5073214/32881213-876699b6-cad6-11e7-9764-524943b2688d.png)

[code]

### Actual behaviour
![1](https://user-images.githubusercontent.com/5073214/328

[2017-11-17 21:40] juancarloscruzd opened #128 "First item selected by default"
### Expected behaviour
It will be nice if there is a way to choose if the behavior of the component is to select the first item on the list or not.
I'm working with server side search, so when the user deliberatively selects one item, it redirects to that item, but if the user press enter then goes to a search page taking the input as the keyword to retrieve results based on that.

### Actual beha

[2017-11-17 21:54] varnastadeus commented on #127
```selected``` is not supported, you need to set formControlName="agree" as your selected model

[2017-11-18 00:50] juancarloscruzd commented on #128
I've applied this hack to get this done, I think it is a problem of typeahead so I will keep investigating to get a more elegant solution

[code]

[code]

[2017-11-18 00:50] #128 closed

[2017-11-20 16:28] #126 closed

[2017-11-20 16:28] #100 closed

[2017-11-20 16:33] xTaz1 opened #131 "[searchable] - doesn't find"
How I can disable search ? [searchable] - doesn't find

[2017-11-20 16:49] varnastadeus commented on #131
use `[searchable]="false"`

[2017-11-20 17:12] xTaz1 commented on #131
@varnastadeus
`[ERROR ->][searchable]="false"`

Angular 4.4.4
Angular CLI 1.4.9

[2017-11-20 17:54] varnastadeus commented on #131
what version you are using? @xTaz1 it was added in 0.6.0

[2017-11-21 07:43] xTaz1 commented on #131
@varnastadeus Yes, I used  v 0.4.1.  Amazing, but I installed this library a few weeks ago. Thanks for you help.

[2017-11-21 07:43] #131 closed

[2017-11-21 08:55] xTaz1 opened #132 "How to disable element"
I want to disable changing on the some pages. How I can disable `ng-select`?

[2017-11-21 10:13] varnastadeus commented on #132
@xTaz1
use `[disabled]="true/false"`
or if you use reactive forms, use `enable()/disable()` methods of formGroup. There are examples in demo page.

[2017-11-21 11:42] xTaz1 commented on #132
works, thank you

[2017-11-21 11:42] #132 closed

[2017-11-21 12:37] mohamedfathii opened #133 "Required validation"
why you don't add input required for validation

[2017-11-21 16:52] clarkorz commented on #120
my fix, works for me:
[code]

[2017-11-22 06:06] varnastadeus commented on #120
@clarkorz are you experiencing same issue?

[2017-11-22 06:07] varnastadeus commented on #133
it works by default, css is missing to indicate that. You can add it by yourself for now

[2017-11-22 07:17] anjmao commented on #133
@mohamedfathii  https://github.com/ng-select/ng-select#validation-state I added example to show error state.

[2017-11-22 07:23] #127 closed

[2017-11-22 08:06] #133 closed

[2017-11-22 08:59] arun-maddheshia opened #134 "Improvement: Please use class instead of ng-select tag stylelint set error for typo type"
Please fill below information if issuing a bug report.
### Expected behaviour
In css def please use a class name instead of ng-select default tag.

### Actual behaviour
If css using ng-select getting warning:
Unexpected unknown type selector "ng-select" (selector-type-no-unknown)

[2017-11-22 15:19] anjmao commented on #134
@arun-maddheshia Thanks for suggesting, action this is a good idea to add .ng-select class on host element.

[2017-11-22 18:51] varnastadeus commented on #120
@carlhussey, I have tried to reproduce your issue creating empty angular-cli project with dependencies and template you provided with no luck. There are still some things we could try:
1) Check console for errors
2) Add event listener for `onClose` event to see if it fires
3) Try to debug `close` method
4) Try to find out what causes this issue, eg.: put `ng-select` on home page to see if it works

[2017-11-23 11:46] ShinDarth opened #136 "Multiselect accepting custom values"
Hello, I was wondering if it's possible to use the Multiselect allowing the user to insert any value instead of just providing the values from a fixed list of options.

For example:

![image](https://user-images.githubusercontent.com/75517/33171393-3a93287c-d04c-11e7-863f-6511f6f33d2d.png)

in this example there is not any list providing the numbers, the user is able to insert any number.

[2017-11-23 20:24] varnastadeus commented on #136
Yes, it is possible, if you check API, there is binding [tag]=true

[2017-11-24 09:27] ShinDarth commented on #136
thanks for your answer! I'll check it soon

[2017-11-24 10:47] #136 closed

[2017-11-26 10:09] aitboudad commented on #120
it's happen to me if the component is set to `OnPush` detection strategy see https://stackblitz.com/edit/angular-wnnhjl

[2017-11-26 10:17] aitboudad opened #138 "click on outside should close the dropdown"
Please fill below information if issuing a bug report.
### Expected behaviour
click on outside should close the dropdown when component is set to OnPush detection strategy.

### Actual behaviour
dropdown still open when use click outside of the ng-select

### More Info
ng-select version: `0.8`

browser: chrome

reproducible in demo page: YES

see https://stackblitz.com/edit/angular-wnnhjl

[2017-11-26 10:18] aitboudad commented on #120
sorry I misread the issue, it's not related to this one.

[2017-11-26 10:29] anjmao commented on #138
@aitboudad Good catch! I will fix it today,I just need to call detect changes and it would be a good idea to add demo with component using OnPush :)

[2017-11-26 10:46] #134 closed

[2017-11-26 10:52] #124 closed

[2017-11-26 10:52] #138 closed

[2017-11-26 10:55] anjmao opened #141 "Material design theme"
It would be nice to have material design theme. We can have base styles which are needed for dropdown to work and two separate styles bootstrap and material which user can import in their app.

[2017-11-26 11:57] aitboudad opened #143 "Allow to change dropdown positioning (auto, above and below)"
Please fill below information if issuing a bug report.
### Expected behaviour
Allow setting dropdown postion (above and below), the default option is `auto`.

### Actual behaviour
Dropdown appear only below the root component

[2017-11-26 13:07] anjmao commented on #143
@aitboudad Thanks for suggestion :) Can you describe the use case of changing dropdown position on scroll? One use case can be to scroll whole viewport if opened dropdown can't fit and not all options are visible.

[2017-11-26 13:09] anjmao commented on #120
@carlhussey I released new version `0.9.0` with another bug fix which may be related to not closing dropdown, let me know if it helped.

[2017-11-26 13:13] anjmao opened #144 "Create demo page with data sources"
We need to create new demo page called `Data source` which would show which data source format we support. i.e Simple arrays, arrays of objects, repeating on ng-option.

[2017-11-26 13:20] aitboudad commented on #143
@anjmao I don't have a use case for scroll maybe not really useful, for me what I want is just auto guess the position when opening the dropdown.

[2017-11-26 13:31] aitboudad commented on #143
changed description, keep it simple :)!

[2017-11-27 05:34] #103 closed

[2017-11-27 07:46] anjmao opened #146 "Custom tags improvements"
1. Show `Add item "value"` in all cases except if exact match is found. Currently it is shown only if no other items are found, but then it is not possible to add you Custom tag in most cases.
In this case I want to add tag `kas` but it is not allowed.
![image](https://user-images.githubusercontent.com/3028012/33255732-9ba04b14-d357-11e7-8585-f563163ad83e.png)

2. Custom tags are always present in

[2017-11-28 02:08] travis1234 opened #147 "Fails to compile with noImplicitAny:true in tsconfig.js"
### Actual behavior
I got the below error when trying to compile my application, I was able to workaround the issue by setting noImplicitAny to false in my tsconfig.ts file but it would be good to get a fix for this.

[code]

### More Info
ng-select version: 0.10.0 (Latest)

browser: IE11, Firefox Nightly

[2017-11-28 06:27] anjmao commented on #147
@travis1234 You need to change you tsconfig to exclude node modules or add skipLibCheck because you don't want to compile 3th party applications.

[code]

[2017-11-28 06:29] #147 closed

[2017-11-28 09:08] varnastadeus commented on #146
also
1. select show selected values, even if they don't match filter term
2. opening filter, shows last added tag
<img width="843" alt="screen shot 2017-11-26 at 16 30 10" src="https://user-images.githubusercontent.com/17824796/33240910-2bf63d4a-d2c7-11e7-8f84-bd95f2b3003c.png">

[2017-11-28 09:40] xTaz1 opened #148 "Error: Binding object with bindValue is not allowed"
[code]

Error appears after selecting an element in the second `<ng-select>`

[code]

[2017-11-28 12:13] varnastadeus commented on #148
If you use `bindValue` your `ngModel` cannot be object.

Eg.:
when you select item `{id: '1', name: 'Vilnius'}` and bindValue is `id` your `ngModel` will be `1`.
if you set your `ngModel` as `1` your selected item will be `{id: '1', name: 'Vilnius'}`
You get:
`{id: '1', name: 'Vilnius'} => 1`
`1 => {id: '1', name: 'Vilnius'}`

In your case you are setting `[(ngModel)]="data.type"` as object in sec

[2017-11-28 12:21] xTaz1 commented on #148
@varnastadeus Thank you.

[2017-11-28 12:21] #148 closed

[2017-11-28 23:18] carlhussey opened #149 "Request - Two new event methods"
I am using the `multiple=true` attribute on my input and was looking for possibly having an extra two event triggers added.

The first would be `onAdd` method. The current `change` method exists but it returns the full object containing all of the values selected. I was looking or a way to just get an `$event` object for the item that was selected from the multiple selection list.

The second woul

[2017-11-28 23:27] carlhussey commented on #120
**1) Check console for errors**
     _No errors are being thrown for this input._

**2) Add event listener for onClose event to see if it fires**
     _onClose event fires when I click on the template item, although, the input does not close._

**3) Try to debug close method**
_Unsure what you are looking for here. Upon the onClose method firing, I see that the class is being applied to the input.

[2017-11-29 07:03] anjmao commented on #149
@carlhussey Thanks for suggestion, that are indeed needed events, I will add them as soon as I can :)

[2017-11-29 15:31] anjmao commented on #149
@carlhussey I released new version 0.11.0 with new events, add, remove and clear

[2017-11-29 15:31] #149 closed

[2017-11-29 17:41] carlhussey commented on #149
Works great, thanks so much!

[2017-11-30 17:52] dima12qw opened #151 "Multiselect binding"
Please fill below information if issuing a bug report.
### Expected behaviour
Multiselect binding. So I have two multiselect in this way:
<ng-select [items]="items" [(ngModel)]="selectedItems"></ng-select>
<ng-select [items]="selectedItems" [(ngModel)]="selectedItems2"></ng-select>

So..the second multiselect have some issues. When I select in the first, the items in second not binding, or they no

[2017-12-01 15:34] anjmao commented on #151
@dima12qw This happens because we use OnPush change detection. I created plunkr example for your case https://plnkr.co/edit/AJD0zh?p=preview

You need to change selectedItems array reference for second select so angular can trigger change detection.

[2017-12-01 19:57] dima12qw commented on #151
ok..thanks..but  it's still need to double-click in the 2nd multiselect

[2017-12-03 12:47] rgiosa opened #152 "Search terms highlighted (improvement)"
It would be interesting to have the option of the search result having the search terms highlighted.

_Finally a component that works! Thank you!_

[2017-12-03 12:54] rgiosa opened #153 "Allow to change Clear All button title"
It would be nice to have the option to change Clear All button title.

[2017-12-03 15:01] anjmao commented on #152
@rgiosa Thanks for suggestion. This is indeed a good feature to add to the list :)

[2017-12-03 15:03] anjmao commented on #153
Thanks for reporting. I'm adding this as a bug because all texts in ng-select should be translatable.

[2017-12-03 15:09] anjmao commented on #151
@dima12qw I updated my example. See plunkr https://plnkr.co/edit/AJD0zh?p=preview

You need to copy object and set each item.selected = false.

[code]

[2017-12-03 15:09] #151 closed

[2017-12-05 06:46] #153 closed

[2017-12-05 13:30] GoNode5 opened #156 "override css"
Sorry if this is more a support question but I need to override the component css. What would be the best approach in combination with Bootstrap
I tried this...
[code]

[2017-12-05 15:59] varnastadeus commented on #156
I think best approach would be adding custom class on `ng-select` and then applying your css.
Try this:

[code]

[code]

[2017-12-05 16:46] GoNode5 commented on #156
@varnastadeus doesn't seem to have any effect...?

[2017-12-05 16:54] varnastadeus commented on #156
@GoNode5  here is plnkr https://plnkr.co/edit/uEPHakayUX0IeKcyaxjL?p=preview

[2017-12-05 17:14] GoNode5 commented on #156
@varnastadeus ok had to add it to  angular-cli.json / style.css. Working now
Thanks again for your help!!!

[2017-12-05 17:14] #156 closed

[2017-12-05 18:34] chalupabatman07 opened #157 "On focus open dropdown"
More of a suggestion than an issue, but I was wonder if there is any current way or future improvement where on focus the dropdown multiselect will open. This is especially helpful if you're using keyboard navigation and tabbing to the dropdown. The current behavior is you tab to the dropdown and you need to press the arrow down key in order to see the list.

Thanks

[2017-12-06 06:29] GoNode5 commented on #157
Then an option auto open yes/no. I have a form with 10 ng selects and when people tab they don't really want all fields opened (and closed) when tab to navigate...

[2017-12-06 17:51] chalupabatman07 commented on #157
Yeah an option to auto open. I have a project with a use case where auto opening is requested when using tab navigation.

[2017-12-06 19:16] varnastadeus commented on #157
Currently it works similar to native `select` control, you can open with space or arrow key.
Your suggestion is based on very specific use case and I don't see any value supporting it generally.

Btw, you can achieve this anyway:
[code]

[2017-12-06 19:28] chalupabatman07 commented on #157
Cool your suggestion worked! Thanks for the tip!

[2017-12-06 19:28] #157 closed

[2017-12-07 05:34] mokey1 opened #158 "disable select options by custom field"
in default way for disable ng-select options i use  "disabled:true" in my json objects.
is there any way to determine other field for disable ng-select options ?
for example i want use "isDefault" field to disable ng-select options

[2017-12-08 06:58] varnastadeus commented on #158
Currently only available option is to iterate your array and set `disabled` property based on your desired condition.

[2017-12-08 10:43] anjmao commented on #158
We can add public method setOptionState(option) so it is possible to access this method and set any property you like.

[2017-12-08 10:45] #143 closed

[2017-12-08 12:17] varnastadeus commented on #158
@anjmao I think iterating and setting disabled is more than enough. Another option to achieve this would be to have custom dropdown template #69

[2017-12-08 13:39] koss89 opened #159 "bindLabel subobject"
Good afternoon.
faced such a problem:
I need in bindLabel to withdraw from the object inside the object for example I have an object:
**{
   id: "2334",
   tags: {
      name: "test"
   }
}**
Accordingly I do **bindLabel = "tags.name"** but I get empty lines

[2017-12-08 13:49] koss89 commented on #159
I'm sorry solved using templates:
**<ng-select [items]="_lines"
        [(ngModel)]="_selectedline">
        <ng-template ng-label-tmp let-item="item">
            {{item.tags.name}}
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
            {{item.tags.name}}
        </ng-template>
      </ng-select>**

[2017-12-08 15:48] varnastadeus commented on #159
@koss89 good catch, I think it should be supported with `tags.name` expression so I am reopening this.

[2017-12-09 06:51] mokey1 commented on #158
@varnastadeus "[disabled]" not work in custom dropdown template.
my custom template:
<ng-template  ng-option-tmp let-item="item" let-index="index">
                    <button mat-button [disabled]="!item.isDefault"  >{{item.title}}</button>
                </ng-template>

but this code only disable button and when click option it's select very well!

[2017-12-09 07:05] mokey1 commented on #158
@varnastadeus ["disabled"] not work in custom template

[2017-12-09 07:37] varnastadeus commented on #158
You need to iterate in your component, not in html

[2017-12-09 10:05] Hesesses opened #160 "IE11 + multiselect placeholder align"
Please fill below information if issuing a bug report.
### Expected behaviour
Placeholders should be aligned correctly when using multiselect

### Actual behaviour
![image](https://user-images.githubusercontent.com/2721970/33794683-f31417f6-dcd8-11e7-80f0-73502fd915b9.png)

### More Info
ng-select version: 0.12
browser: IE11

reproducible in demo page: [YES]
https://ng-select.github.io/ng-select#/

[2017-12-11 06:12] koss89 commented on #159
in the process revealed another feature in the version that I described above, the filter is not working, so this is another plus to re-opening

[2017-12-11 07:47] anjmao commented on #160
Thanks for reporting @Hesesses :)

[2017-12-12 09:40] Kim-Andersen commented on #71
This would be a much loved feature.

Any estimate on when version 1.0.0 is due?

[2017-12-12 14:17] abelardolg opened #163 "Flexible autocomplete property distinctUntilChanged() does not exist on type Observable<string>"
Hi,
I wanted to reproduce this example:
https://plnkr.co/edit/KFpvA9?p=preview
but this message was showed:
'Property distinctUntilChanged() does not exist on type Observable<string>'

### Expected behaviour
It shouldn't show any error message

### Actual behaviour
It gives this message: error TS2339: Property distinctUntilChanged() does not exist on type Observable<string>'
If it is removed, anot

[2017-12-12 16:17] varnastadeus commented on #163
Hi, if you are using newer angular version, RxJS introduced lettable operators so you need to use different syntax.
You can read more here: https://blog.angularindepth.com/rxjs-understanding-lettable-operators-fe74dda186d3

[2017-12-13 07:03] varnastadeus commented on #71
Hi, I might start working on it after fixing few bugs.

[2017-12-13 14:08] ShinDarth opened #164 "Hiding the selected elements from the dropdown"
is there a way to hide the already-selected items from the dropdown menu?

[2017-12-13 17:15] anjmao commented on #164
Hi @ShinDarth, currently it is not supported, but it would be a nice feature to have a flag like `showSelectedOptions` which is be default true and if setting it to false it will hide multiselect items from drodpwn.

[2017-12-13 19:01] rdicroce opened #165 "Extraneous properties added to object values"
### Expected behaviour
I have a ng-select set up where the ngModel is the whole object, and bindLabel is set so the label is a string within the object. When I select a value, the object emitted by ngModelChange should exactly match the object I provided as part of the items list.

### Actual behaviour
The value emitted by ngModelChange contains extra unwanted properties like "index" and "selected

[2017-12-13 19:08] varnastadeus commented on #165
Hi, yes, it is known issue and will be fixed with #159

[2017-12-13 20:43] ShinDarth opened #166 "Binding items not updated unless it's new array"
[code]

### Expected behaviour

When you add/remove items to `myArray`, the changes should be detected and reflected in the `ng-select`.

### Actual behaviour

If the items contained in `myArray` change (remove or add items), the changes are not reflected to the `ng-select`.

A workaround is to first change `myArray` contents and then do `this.myArray = this.myArray.slice()`. This will generate a

[2017-12-14 08:19] varnastadeus commented on #166
Hi @ShinDarth, it works by design, please read https://github.com/ng-select/ng-select#change-detection why this works as you described.

[2017-12-14 08:39] ShinDarth commented on #166
ok, thanks for your answer

[2017-12-14 08:40] #166 closed

[2017-12-14 10:52] sgmccli opened #167 "Cannot search label text when label is built using a template"
Hi

Thanks for a great library! I've run into an issue when trying to filter a select field that has had its options and labels created using templates. This is detailed below.

### Expected behaviour
The input field looks as follows

[code]

An example might look like this

`sgmccli / test`

When I search I expect to be able to type `sgmccli` or `test` and filter the results accordingly.

### Act

[2017-12-14 15:41] varnastadeus commented on #167
Hi, by default items are filtered using `bindLabel` value, so you can set it to single property of your object. If you have more complex use case, you can use `typehead` and get the search term. After that you can apply any filtering logic you want.
For now I recommend you solving it using `typehead`.

Other than that, we will consider implementing one of these features:
1. Get the properties from

[2017-12-14 15:51] sgmccli commented on #167
Hi @varnastadeus,

Thanks for the info, I'll look at the typeahead technique.

Of the options you have listed, I think `2.` is the one I was looking for. As you have correctly pointed out I would not be interested in filtering based on the avatarUrl property. Providing a mechanism for structuring labels would be great - a form of template string should do it.

Thanks again

Simon

[2017-12-16 18:12] varnastadeus commented on #160
https://connect.microsoft.com/IE/feedback/details/802625/min-height-and-flexbox-flex-direction-column-dont-work-together-in-ie-10-11-preview

Looks like it's browser bug, I suggest to align it internally or not to use deprecated clients :)

[2017-12-16 18:13] #160 closed

[2017-12-18 12:02] #165 closed

[2017-12-18 12:02] #159 closed

[2017-12-18 12:12] #163 closed

[2017-12-18 12:25] anjmao commented on #71
Hi @Kim-Andersen I'm working on it now :)

[2017-12-19 22:22] iCodr8 opened #169 "'NgSelectModule' contains the error at @ng-select/ng-select/ng-select.ts(39,10)."
I am running the following script to build my application for production:

[code]

and get the following error:

[code]

When I import the module only with `NgSelectModule` instead of `NgSelectModule.forRoot({...})` then it is working.

### More Info
ng-select version: 0.13.0

browser: none => console

reproducible in demo page: NO

[2017-12-20 16:29] #71 closed

[2017-12-20 16:40] anjmao commented on #169
@iCodr8 Hi, can you paste how your shared module configuration looks ? Thanks :)

[2017-12-20 17:14] #169 closed

[2017-12-20 20:08] iCodr8 commented on #169
Thank you @anjmao

[2018-01-03 13:58] carscx opened #172 "Bind value selected to input text"
I do not know if it is a bug or improvement of the plugin. Excuse me if I'm making a mistake. But I want to know how to improve this behavior

### Expected behaviour
When I selected a item, then I want to edit this value for a new search. The input text of search is empty

### Actual behaviour
In Demo

https://ng-select.github.io/ng-select#/filter

When you filter and the item is selected, the foc

[2018-01-04 09:12] varnastadeus commented on #172
@carscx why are you using 0.5.0 version?

[2018-01-04 10:27] maznag commented on #172
It works well with the latest version 0.14.1. Thanks for this work

[2018-01-05 08:50] andreasfranz opened #173 "Styling flaw when using dropdownPosition top"
### Expected behaviour
The first option does not overlap the border of the ng-select-dropdown.

### Actual behaviour
The first option in the ng-select-dropdown overlaps the border, because it does not have a radius.
Can be seen on the demo page https://ng-select.github.io/ng-select#/dropdown-position

### More Info
ng-select version: 0.14.1

browser: Chrome 63.0.3239.108
reproducible in demo page:

[2018-01-05 09:22] andreasfranz opened #175 "Remove single item from multi select does not work when custom label template is used"
### Expected behaviour
When using the option [multiple]="true" in combination with a custom template it should be possible to remove single selected items.

### Actual behaviour
Cannot remove single items anymore. Reproducible on the demo page https://ng-select.github.io/ng-select#/multiselect (Custom label templates)

### More Info
affected ng-select version: 0.13.0, 0.14.0, 0.14.1

browser: Chro

[2018-01-06 11:05] varnastadeus commented on #175
Thanks for a catch, will fix it today

[2018-01-06 11:46] #175 closed

[2018-01-06 11:49] #173 closed

[2018-01-08 13:06] Aspersion opened #177 "Dynamic Items List"
Improvement / Issue
### Expected behaviour
Using a dynamic list of items should update the model correctly.

### Actual behaviour
When I'm using a dynamic list of items with single select, listItem[index] is selected even if the list changes, so you can not select the same index again when you filter a second time.

With multiselect, when you filter a second time, if you don't have the selected it

[2018-01-08 17:01] varnastadeus commented on #177
Hi @Aspersion, can you add more details what you are trying to achieve?

[2018-01-08 20:22] Ryland42 opened #178 "Bind label should be ignored if template is used for formatting so that an item of the items array may be undefined"
Please fill below information if issuing a bug report.
### Expected behaviour
Template is used for formatting of the items array and the bindLabel is completely ignored in code.  This becomes an issue if one of the elements of the items array is undefined.

### Actual behaviour
I have an ng-select defined which contains an ng-template for formatting.  In some instances I need to have one item in t

[2018-01-09 07:34] anjmao commented on #178
Hi @Ryland42 , thanks for reporting. HI can simply filter elements to be defined
`items.filter(item => !!item)`, but can you provide some background what is your use case?

[2018-01-09 07:34] anjmao commented on #172
@carscx I'm closing this issue, feel free to reopen it if you have any problem.

[2018-01-09 07:35] #172 closed

[2018-01-09 09:38] Aspersion commented on #177
Yes, sorry about that. This is mostly to do with loading async data.

For single select:
I couldn't replicate this in the demo, but my issue is this: When loading async multiple times some of the items are unselectable. For example, you search for a city, you get only 1 result and you select that one, then you change your mind, you search for another city, you get 1 result, but you can't select it

[2018-01-09 12:58] muralimnmcse opened #179 "Sort"
Is there any options to sort the item shown in Dropdown.

### More Info
ng-select version: [0.12.0]

browser: [Chrome Version 63.0.3239.84]

[2018-01-09 14:10] varnastadeus commented on #177
@Aspersion I have found an issue and I am planning to fix it today, thanks for examples

[2018-01-09 14:12] varnastadeus commented on #179
@muralimnmcse just sort it before passing it to component?

[2018-01-09 14:51] Ryland42 commented on #178
From an existing project which I was changing from a select to ng-select so that I could modify how the list was presented to the end user.  I have a list of items to select from but in some cases I need a special "Any" selection which in the old codebase had a value of undefined so that we wouldnt send any data back to the server for the selection.

[2018-01-09 15:13] varnastadeus commented on #178
@Ryland can you add some code?

[2018-01-09 15:13] varnastadeus commented on #178
@Ryland can you add some code?

[2018-01-09 15:13] varnastadeus commented on #178
@Ryland can you add some code?

[2018-01-09 16:43] varnastadeus commented on #177
@Aspersion version 0.14.3 should fix this issue and for demo page when you click `Set 10-20 albums` it deliberately selects first item from array

[2018-01-10 07:15] anjmao commented on #178
@Ryland42 Have you tried setting Any value as undefined?

[code]

[2018-01-10 10:04] bvshivaji opened #181 "how to set maxItems count when use multiselect true"
Please fill below information if issuing a bug report.
### Expected behaviour
Describe how you think it should work

### Actual behaviour
Describe how it actually works or create example using [Plunker](https://plnkr.co/edit/hjZX6W?p=preview) issue template

### More Info
ng-select version: [INSERT HERE]

browser: [INSERT BROWSER INFO HERE]

reproducible in demo page: [YES/NO]

[2018-01-10 10:56] Aspersion commented on #177
@varnastadeus Thanks a lot for the fix and explanation. I will close the issue. Have a great day.

[2018-01-10 10:56] #177 closed

[2018-01-10 11:57] varnastadeus commented on #181
@bvshivaji please add normal description or close this issue because now it make no sense. Issue template is added to save both our time, and yours.

[2018-01-10 14:25] Ryland42 commented on #178
Here is the ng-select as I have it defined:
`<ng-select class="shift-select" [items]="shiftList" [searchable]="false" [clearable]="false" [ngModel]="value" (ngModelChange)="changeValue($event)">
		<ng-template ng-label-tmp let-item="item">
			<div *ngIf="item">
				<div>{{item.start | amDateFormat: 'lll'}} -</div>
				<div>{{!item.end ? 'Current' : item.end | amDateFormat: 'lll'}}</div>
			</div>

[2018-01-10 14:48] #179 closed

[2018-01-10 17:36] marvinosswald opened #182 "Custom Loading Text"
Feature Request

[2018-01-11 06:57] anjmao commented on #182
@marvinosswald Thanks for suggestion. Custom loading text input is already added, I just forgot to update docs :) https://github.com/ng-select/ng-select/blob/master/src/ng-select/ng-select.component.ts#L74:14.

[2018-01-11 07:05] anjmao commented on #181
@varnastadeus It is clear from the title. It's a simple feature there you want to control how many items you can allow to select.

@bvshivaji Currently there is no such options. I can think of new `@Input` like `[maxSelectedItems]`.

[2018-01-11 08:16] anjmao commented on #178
@Ryland42 You can do the following:

Set first item as object with label property.

[code]
Change you html to check if item.start is defined
[code]

Now you only need to handle case then user selects All you send null to server side.
[code]

[2018-01-11 09:30] #182 closed

[2018-01-11 13:31] Aspersion opened #183 "Multiselect placeholder is above the input"
Please fill below information if issuing a bug report.
### Expected behaviour
The placeholder text should not be selectable.

### Actual behaviour
When using the multiselect, you can click on the placeholder and it doesn't allow you to write in the input. This is a bit undesired if the placeholder is as big as the container.

https://plnkr.co/edit/fyFfwCTAUnjdKykfyLub?p=preview

You can try it in

[2018-01-11 14:02] Ryland42 commented on #178
And that works with a few other tweaks, like changing shiftList to an array of any instead of of Shift since typescript throws errors if I dont make that change.

[2018-01-11 14:18] Ryland42 commented on #178
That gets me around the error I was seeing but now when I select Any I end up with the ng-select being empty unless I select Any a second time.  The correct info is sent to the server in either case (ng-select empty or showing Any).  I have attached a picture of what I mean.

![image](https://user-images.githubusercontent.com/8311358/34829945-5bb4c42c-f6b0-11e7-94e9-2a66a17d94ca.png)

[2018-01-12 08:09] swymmwys opened #184 "Feature request: 'Select all' button"
Hi.
It will be great if you can include an optional setting for a 'ng-select' which allow users to specify a 'Select all' button (or a trigger button - select/unselect all).

Thanks.

[2018-01-12 09:12] anjmao commented on #178
@Ryland42 Probably you are doing something wrong. Here is working sample https://plnkr.co/edit/hCGUUr6xxas8806sOrMR?p=preview

[2018-01-12 11:00] liwonder opened #185 "Unexpected extra option in dropdown!"
Please fill below information if issuing a bug report.
### Expected behaviour
Can change option items without adding extra one that bind to 'ngModel'.

### Actual behaviour
Step1: Set up 'ng-select' don't set 'bindValue'.
Step2: Select one option in dropdown.
Step3: Change the 'ng-select' option items to a new array.
Step4: You will find the prior selected object was added to the new option list.

[2018-01-12 13:43] varnastadeus commented on #185
@liwonder it works as expected. If your selected model doesn't exists among options list, it gets added to list so you can have pre-selected model even if your data is not loaded yet.

[2018-01-12 15:58] Ryland42 commented on #178
The blank being selected is associated with emitting of 'undefined'.  If I remove that line then Any is selected.  I put a breakpoint in ng-select.es5.js at line 1674 and found that NgSelectComponent.prototype.writeValue is being called with a value of 'undefined'  but never with any other values contained in the select.

[2018-01-12 21:03] jocelynduc opened #186 "Request: Children"
I would like to use ng-select with "children" as we can do with:
https://optimistex.github.io/ng2-select-ex/

Is this available? on the roadmap?

[2018-01-13 11:41] varnastadeus commented on #186
@jocelynduc it doesn't seem to work there. Can you describe what this feature is about?

[2018-01-13 13:08] jocelynduc commented on #186
I put a new example where the feature is actually working:
https://optimistex.github.io/ng2-select-ex/

The idea of this feature is to group options. In the example, you can see that the cities are grouped by country. Have a look at it, it speaks by itself
It should act the same as <optgroup /> in a pure <select /> element.

Only the children are effectively selectable.
[code]

[2018-01-13 16:09] varnastadeus commented on #186
I think you can achieve similar result with custom option templates, since it is just styling.

[2018-01-15 01:48] liwonder commented on #185
@varnastadeus Thanks for your reply! I understand the design, but it will an annoying feature for me. What can I do to prevent the pre-selected model add to my data list? It seems setting the model to 'undefined' doesn't work.

[2018-01-15 05:13] Nekmo opened #187 "[(ngModel)] not works: Can't bind to 'ngModel' since it isn't a known property of 'ng-select'."
I'm trying to use the official example, but I can not make it work. The example and the page not load. This error message appears in console:

[code]

My code:

[code]

And:
[code]

The example works fine when I remove the label ``[(ngModel)]``. The page also works and there is no error using `(ngModel)`, but the one-bind does not seem to work. ``[ngModel]`` also causes the error.

Packages:

[cod

[2018-01-15 05:21] #187 closed

[2018-01-15 05:22] Nekmo commented on #187
Resolved including modules:

[code]

[2018-01-15 05:57] jpmyob opened #188 "filter on multiple fields"
### Feature request
Would be nice to "filter" on multiple fields, such as "firstName" and "lastName" - so that "John" would match John Smith, and Victor Johnson.

[2018-01-15 08:06] varnastadeus commented on #185
@liwonder are you using async data?

[2018-01-15 08:07] varnastadeus commented on #188
@jpmyob it is already possible, you just need to use typeahead and subscribe to term change, and after that filter on any items you want.

[2018-01-15 08:46] anjmao commented on #186
@varnastadeus If you will be able to create example on demo page with items grouping and custom templates that would be great.

[2018-01-15 08:51] anjmao commented on #183
@Aspersion Yeah, good catch. @varnastadeus I'm changing as a bug.

[2018-01-15 15:17] jpmyob commented on #188
Hum, ok i;ll try

[2018-01-15 18:21] varnastadeus commented on #188
@jpmyob I updated demo page showing how to achieve this, you can check here https://github.com/ng-select/ng-select/blob/master/demo/app/examples/search.component.ts

[2018-01-16 02:29] bvshivaji commented on #181
i have checked ngx-chips module so same like that ur module working also be
same than its have more features

On Thu, Jan 11, 2018 at 12:35 PM, Andžej Maciusovič <
notifications@github.com> wrote:

[2018-01-16 06:45] #183 closed

[2018-01-16 07:33] anjmao commented on #184
I thought it would be good to implement this before v1 release because this feature will show how to use ng-select public api. Here is some progress how it can look. I created new template directives for header and footer so it will be possible to have flexible customisations. Just need to spend some more time polishing public api before the can make first release.

<img width="723" alt="custom_he

[2018-01-16 08:58] #188 closed

[2018-01-16 10:29] kmathy opened #191 "Properties to customize design"
Please fill below information if issuing a bug report.

Firstly, a BIG thank for this plugin, it saves me a lot of tedious work! :)

### Expected behaviour
It can be interesting to have some properties only to customize some parts of the select and the dropdown.

For example: [customNgControlClass]="['custom-1', 'custom-2']" --> Applies for .custom-1 and .custom-2

It can also be interesting to ha

[2018-01-16 10:48] arun-maddheshia opened #192 "Need option to add new item"
### Expected behaviour
I select an address from list suppose if I want to add a new address which is not in list I have a button to add the new address upon click on it I have a modal or some page to add my new address.

### Actual behaviour
There is no option to add a custom button inside dropdown to perform other actions.

### More Info
ng-select version: LATEST

[2018-01-16 11:36] anjmao opened #194 "Better module configuration"
Currently we use module configuration with `forRoot` and `forChild` methods, but this is not correct and will not work correctly in some cases for lazy loaded modules. We need to use InjectionTokens and configure module like in material menu-module to get maximum flexability for the end user. https://github.com/angular/material2/blob/master/src/lib/menu/menu-module.ts

[2018-01-16 11:40] anjmao commented on #191
Hi @kmathy There is similar issue registered https://github.com/ng-select/ng-select/issues/86 and this is know issue. Because we are bundling styles into component itself it is not possible to control in which order styles are applied. I can see only one possible solution to bundle styles in separate file and force user to include styles by himself. This will also give as a lot of flexibility like

[2018-01-16 11:43] anjmao commented on #192
Hi @arun-maddheshia There is Pull Request which will allow to have custom header and footer templates https://github.com/ng-select/ng-select/issues/184 Is this is what you are looking for?

[2018-01-16 12:02] arun-maddheshia commented on #192
not sure how footer template works, so I need something a custom button in footer on which I perform my basic click actions.

[2018-01-16 12:13] arun-maddheshia commented on #192
@anjmao when you plan to merge the #193

[2018-01-16 13:18] anjmao commented on #192
After it passed code review. It will be merged today or tomorrow :)

[2018-01-16 14:40] varnastadeus commented on #191
@kmathy there is no need to use `!important`. You can just increase selector specificity which increase its weight. Check #156.

[2018-01-16 15:54] swymmwys commented on #184
Great, looks nice!

2018-01-16 10:33 GMT+03:00 Andžej Maciusovič <notifications@github.com>:

[2018-01-16 16:00] kmathy commented on #191
@varnastadeus You're right, it works with your example, thank you. But with this way, are we able to customize all the ng-select component?

[2018-01-16 21:31] stevethemacguy opened #196 "Parameter 'term' implicitly has an 'any' type"
### Expected behaviour
AOT Build should compile without errors.

### Actual behaviour
When using TSLint and the --noImplicitAny  [compiler option](https://www.typescriptlang.org/docs/handbook/compiler-options.html), AOT Build fails with the following error.

`ERROR in node_modules/@ng-select/ng-select/ng-select/ng-select.component.d.ts(34,25): error TS7006: Parameter 'term' implicitly has an 'any'

[2018-01-16 21:43] varnastadeus commented on #191
if by customize you mean changing it appearance through css, then yes :)

[2018-01-16 22:23] varnastadeus commented on #196
@stevethemacguy thanks for pointing it out. I created PR with all implicit types defined since it probably fails on the first type it meets.

[2018-01-17 07:43] aditi-joshi-mk opened #198 "##Actual Behaviour How to disable opening keyboard when dropdown is opened"
Please fill below information if issuing a bug report.
### Expected behaviour
Describe how you think it should work

### Actual behaviour
Describe how it actually works or create example using [Plunker](https://plnkr.co/edit/hjZX6W?p=preview) issue template

### More Info
ng-select version: [INSERT HERE]

browser: [INSERT BROWSER INFO HERE]

reproducible in demo page: [YES/NO]

[2018-01-17 09:06] kmathy commented on #191
OK, thank you!! I gave a star for this project, I like it! :)

[2018-01-17 09:06] #191 closed

[2018-01-17 11:45] liwonder commented on #185
@varnastadeus yes, I am using async data, but I think the point is there is demand that to change the dataset of the select during run time. So the data will not always be the initial data.

I have three 'ng-select' in one page, and they are linkage, the selection of previous select will change the dataset of next one to a new array of data, so when the data set is changed I don't want the previou

[2018-01-17 11:46] #196 closed

[2018-01-17 12:26] #194 closed

[2018-01-17 12:30] anjmao commented on #191
@kmathy Thanks :)

[2018-01-17 12:42] varnastadeus commented on #185
@liwonder yes, it's pretty much clear. Have you tried clearing your `NgModel` before setting new items?

[2018-01-17 13:00] #184 closed

[2018-01-17 13:19] anjmao commented on #184
@swymmwys Checkout 0.15.1 version :)

[2018-01-17 14:36] anjmao commented on #178
@Ryland42
Can you create a simple plunker or paste code what changeValue() method is doing ?

[2018-01-17 14:40] anjmao commented on #198
@aditi-joshi-mk Thanks for reporting. Setting select to [searchable]="false" was supposed to not show keyboard, but it looks like it shows keyboard even if dropdown is not searchable. I will have a look.

[2018-01-17 14:41] anjmao commented on #192
@arun-maddheshia checkout 0.15.1 npm version.

[2018-01-17 14:52] arun-maddheshia commented on #192
Yo It's work like charm!

[2018-01-17 14:55] sieglejp commented on #185
@liwonder I had this same issue when using ngModel, I switched to reactive forms and the previously selected item from the old data list does not get added to end of the new data list.

[2018-01-17 14:57] arun-maddheshia commented on #192
can we change its fixed position to at the bottom of list if possible.

[2018-01-17 15:53] varnastadeus commented on #192
@arun-maddheshia what do you mean?

[2018-01-17 15:56] varnastadeus commented on #198
@anjmao it's probably because input is still present with `opacity: 0`. If you remove input you won't be able to focus `ng-select` with tab.

[2018-01-17 16:00] bulkasamurai commented on #184
Hi. @anjmao buttons "Select all" and "Select none" disappears with a delay when you close the dropdown. Could you fix this for the release?

http://g.recordit.co/Kjk26jJ0xi.gif

[2018-01-17 17:33] varnastadeus commented on #184
@bulkasamurai can you reproduce it in demo page?

[2018-01-18 07:55] anjmao commented on #198
@aditi-joshi-mk checkout 0.15.2 version.  I tested it on iphone and keyboard is no longer visible if ng-select is not searchable.

[2018-01-18 09:19] arun-maddheshia commented on #192
for now the `ng-footer-tmp` is fixed to bottom I just want to move it in virtual scroll so its looks like it is in item array option

[2018-01-18 11:04] varnastadeus commented on #192
@arun-maddheshia I think you are using wrong templates, `ng-footer-tmp` is designed specifically for footer. Have you tried using `ng-option-tmp` and then adding your custom html there?

[2018-01-19 12:26] arun-maddheshia commented on #192
@varnastadeus but in this case my custom stuff comes inside the first index, and my custom stuff has an event. any way close it I go with footer template its ideal case.

[2018-01-19 14:07] #192 closed

[2018-01-20 13:29] varnastadeus commented on #185
@anjmao there is actual bug here. Even if you clear selected model, selected items are added to options since `writeValue` is executed after `ngOnChange`.

https://plnkr.co/edit/KfEuBt9TdawYEDoKMBNc?p=preview

[2018-01-21 18:43] anjmao commented on #185
@varnastadeus thanks for good repro. I will have a look.

[2018-01-22 08:51] lohiaad opened #201 "notFoundText as ng-template"
[x] feature request

I need a template for No record Found where i can apply styles to search text
Eg - No records found for "**english**"

Please suggest if any other way to implement it.

Thanks

[2018-01-22 20:11] Ryland42 commented on #178
Sorry about the delay in responding.  Work spun out of control in another direction and Im finally back on this.  Here is the code as being used which ends up causing writeValue to be called.  In that case this.value is set to undefined.

[code]

[2018-01-24 03:00] liwonder commented on #185
@anjmao Thanks for your repo to clarify this issue! It's really a busy week, rarely have time to check my unread list, sorry for that!

[2018-01-24 04:59] Kalpesh300 opened #202 "First Option Default selected"
I just want to ask how to set first option in list default selected?

[2018-01-24 05:53] lohiaad opened #203 "Hide header template when options are empty"
[x] bug

### Expected behaviour
when options are empty then header template should be hidden and notFoundText should be shown

### Actual behaviour
header template and not text found are shown
https://plnkr.co/edit/DNtepk8l8m4u4gwVMdOS?p=preview

### More Info
ng-select version: [0.15.2]

[2018-01-24 06:07] #202 closed

[2018-01-24 06:08] Kalpesh300 opened #204 "ngModel is not working."
### Expected behaviour
I am setting first option as default selected using ngModel.
I want to remove this first option when I first open dropdown.

Here is my code:
` <ng-select class="normal-text h4"
        [(ngModel)]="selectedProjects"
        bindLabel="name"
                [items]="projects"
                [multiple]="true"
                (open)="projectsOpened($event)"
                (f

[2018-01-24 08:31] varnastadeus commented on #204
Hi @Kalpesh300. It works, you just need to set new reference for NgModel.

[code]

[2018-01-24 08:44] varnastadeus commented on #203
@lohiaad not sure if it must be hidden by default. If you do that, then we will lose flexibility since some users may want to show header even if there are no items. Now we have full control and hide header if it is desired, e.g.

[code]

[2018-01-24 10:51] anjmao commented on #203
@lohiaad Thanks for reporting. I'm closing this as @varnastadeus make sense.

[2018-01-24 10:52] #203 closed

[2018-01-24 17:02] #204 closed

[2018-01-24 17:21] marvinosswald opened #205 "expose isLoading for async items loading"
**Feature Request**

Could we have isLoading exposed with an getter and setter so i can set the select loading while i fetch all items async at once, which make typeahead unusable.

### More Info
ng-select version: 0.15.2

[2018-01-24 18:39] anjmao commented on #205
@marvinosswald Thanks for contribution, I was thinking about this feature, but didn't found time to figure out good solution, yours looks good, just added few comments.

[2018-01-25 08:07] anjmao commented on #205
@marvinosswald I added example and simplified code https://github.com/ng-select/ng-select/pull/208

[2018-01-26 18:35] jessycormier opened #209 "Value should allow "any" value not "string""
Please fill below information if issuing a bug report.
### Expected behaviour
When binding we shouldn't force the type for value to be "string" This limits the ability as well as makes the code in TS vert strange having to ToString ID's if binding to values from a DB return.

Thoughts?

[2018-01-27 16:17] varnastadeus commented on #209
Hi @jessycormier. Currently there is no such forcing or I am missing something. Can you elaborate more what are you binding?

[2018-01-28 15:56] arun-maddheshia opened #210 "Detect item value change on page load"
Please fill below information if issuing a bug report.
### Expected behaviour
How to detect if items array changed on time of page load

### Actual behaviour
Currently no callback on item change on load time

### More Info
ng-select version: Latest
angular version: 5
browser: Chrome

[2018-01-28 18:22] varnastadeus commented on #210
@arun-maddheshia why do you need callback if items change only when you set them and you have full control of it?

[2018-01-29 06:06] arun-maddheshia commented on #210
The problem is my select is relative with another select so when data come from API the dropdown value of select A change onInit but the relative select B data is not updated because its not detect the change value on load

[2018-01-29 08:31] varnastadeus commented on #210
@arun-maddheshia can't you just update both selects on init?

[2018-01-29 08:51] LukaszKubiak opened #211 "Items with value 0"
### Expected behaviour
When i select item on component side and it's value is equal to item in array passed to ng-select it should select that item.

### Actual behaviour
When value of selected item is equal to 0 ng-select doesn't choose that item.
[Plunker](https://plnkr.co/edit/0Zm0RIPIbZ24XaXaYcEH?p=preview)

### More Info
ng-select version: [0.15.2]

[2018-01-29 09:17] korsar1 opened #212 "ng-select-dropdown does not collapse if it is on modal with stopPropagation"
Please fill below information if issuing a bug report.
### Expected behaviour
ng-select-dropdown should be collapsed on outer click.

### Actual behaviour
I show ng-select on modal page which has $event.stopPropagation(), and I suppose because of it, if I click on modal box content ng-select-dropdown does not collapse.

### More Info
ng-select version: 0.14.1

browser: Chrome

reproducible in demo

[2018-01-29 10:10] varnastadeus commented on #211
I see the issue, probably will fix it today. Thanks for reporting

[2018-01-29 10:15] varnastadeus commented on #212
As you answered yourself, `$event.stopPropagation()` causes this behaviour. You could try closing dropdown yourself.
[code]

[2018-01-29 17:38] #185 closed

[2018-01-29 17:45] #211 closed

[2018-01-29 17:49] anjmao commented on #178
@Ryland42 Hi, sorry for delay. Could you try creating plunker sample from issue template https://plnkr.co/edit/hjZX6W?p=preview and demonstrate this use case as it is not clear to find out the problem.

[2018-01-29 17:52] anjmao commented on #185
@liwonder Hi, I just pushed ng-select 0.16 version to npm which should fix this bug. Feel free to reopen it or create new one if you still have issues :)

[2018-01-29 19:15] dashie opened #214 "ng-select works only with "arrows" key and "return"."
If I compile my project and import the library using the angular cli, the control does not work well. I'm not able to digit the text or to filter the results by typing. I'm only able to select the items using arrows keys (up and down) and press "return".

[2018-01-29 19:44] dashie commented on #214
I discovered the problem: I was mapping in `items` a getter

[code]

In that way the `ng-select` show me all the options but it does not fully work.

[2018-01-29 20:39] varnastadeus commented on #214
@dashie what version you are using? add html code also

[2018-01-29 21:16] Ryland42 commented on #178
No problem.  Im filling out this plunker https://plnkr.co/edit/FRHc4ysWS5xDtuIi0rtx?p=preview trying to reproduce what I am seeing.  Its currently not showing the same behavior I see so I will let you know when/if Ive reproduced the issue in the plunker.

[2018-01-29 23:00] DecentCZ opened #215 "selected long text item stretches dropdown"
### Expected behaviour
The dropdown should not stretch and and just apply ellipsis when long text gets selected

### Actual behaviour
dropdown stretches when selecting long text items messing up the page

### More Info
ng-select version: [0.12.0]

browser: [Google Chrome] Version 63.0.3239.132

reproducible in demo page: [NO]

[2018-01-30 02:01] dashie commented on #214
Version: 0.16.0

Sample:
[code]

[2018-01-30 02:04] isaac73 opened #216 "Need Accessibility with Narrator for blind people"
### Expected behaviour
the component should work with narrator in windows.

### Actual behaviour
http://www.oaa-accessibility.org/example/11/

### More Info
ng-select version: [INSERT HERE]

browser: IE, Edge and Chrome

reproducible in demo page: YES

[2018-01-30 05:57] lohiaad opened #217 "loadingText as ng-template"
[x] feature request

need a template for loadingText
Eg -
` <span><i class="fa-li fa fa-spinner fa-spin"></i>Loading</span>`

Thanks

[2018-01-30 06:30] varnastadeus commented on #214
@dashie just don't use getter and it works as expected. https://plnkr.co/edit/LzKE4r6bpst8DbyVZpmR?p=preview

[2018-01-30 07:20] anjmao commented on #212
@korsar1 Closing this one as solution is clear. Feel free to reopen if you still have any problems.

[2018-01-30 07:20] #212 closed

[2018-01-30 07:28] anjmao commented on #215
@DecentCZ Hi, do you mean in should apply ellipsis for dropdown items? You could apply style for `ng-option`

[code]

This was left for consumer to decided because some may not want to add hidden overflow.

[2018-01-30 08:32] korsar1 commented on #212
Maybe it would be better if I would be able to specify to which element by css selector click event should be added, like in appendTo.

[2018-01-30 08:46] varnastadeus commented on #212
@korsar1 while you are stopping event propagation it doesn't matter on which element you will bind click event

[2018-01-30 10:02] korsar1 commented on #212
Correct me if I am wrong, but if I would add click handler on element which are lower in dom hierarchy then the one with stopPropagation then it will be fired.

[2018-01-30 10:11] korsar1 commented on #212
I tried the solution with
<modal (click)="select.close(); $event.stopPropagation()"></modal>
But it is not working because when I press on the input, but not on the arrow to open combo, the popup appears but hides on hover on it, because the event on modal was fired also. If I click on arrow to open combo then everything is fine

[2018-01-30 11:44] varnastadeus commented on #212
@korsar1 answering your previous question, it could work, but still it won't solve your issue since dropdown won't close while clicking on higher dom elements.

[2018-01-31 02:43] travis1234 commented on #160
@Hesesses Sorry to revive a closed issue but it would be really good to get an actual fix or documented workaround for this issue.

IE11 is still a common browser in corporate environments where it's not as simple as just upgrading the browser. It's still the 6th most used browser with 3.14% market share. https://www.w3counter.com/globalstats.php

At this point in the time I'm going to have drop n

[2018-01-31 06:54] arun-maddheshia commented on #210
no because B is dependent on A value

[2018-01-31 07:13] varnastadeus commented on #210
Please add some code

[2018-01-31 08:31] arun-maddheshia commented on #210
close it I just manage to call the change function onInit

[2018-01-31 09:05] varnastadeus commented on #160
@travis1234 currently we are not planning to change base style. You could always add your custom style to try to overcome this issue.

In the future we plan to have multiple themes like bootstrap and material so user could include desired theme in his bundle. Bootstrap theme should not have this problem, since we won't use `flex` layout in it.

[2018-01-31 09:05] #210 closed

[2018-01-31 09:07] #214 closed

[2018-01-31 09:12] varnastadeus commented on #215
@DecentCZ `ng-select` doesn't have any fixed width defined. If you want it to stop stretching just define width you want.

[2018-01-31 09:12] #215 closed

[2018-01-31 10:30] liwonder commented on #185
@anjmao Thanks, I will check it out!

[2018-01-31 13:05] shyamal890 opened #218 "Custom Tag styling"
In ng-tags-input we could change the style of tag selected: http://embed.plnkr.co/CcUh1S9kMVxnEI0pfmrn/preview

How to obtain the same in ng-select?

[2018-01-31 13:13] varnastadeus commented on #218
@shyamal890 use custom option template

[2018-01-31 14:34] pupizoid opened #219 "bindValue support for nested objects"
Hi there! Just used this awesome package and got stuck with `bindValue` don't work with embedded objects. Although `bindName` does! Please clarify this to me, is it a bug or this works as expected, i didn't find any info about this.

### More Info
ng-select version: 0.15.2
browser: Chrome
reproducible in demo page: https://plnkr.co/edit/4b9x0lxADf09zaNlzcss?p=preview (The `selectedCity` remains _u

[2018-01-31 16:31] anjmao commented on #219
Hi @pupizoid . It is not implemented yet as it is more complex as bindLabel, but this is indeed needed feature and will be implemented.

[2018-01-31 16:37] varnastadeus commented on #219
Hi @pupizoid. Thanks for feedback. As @anjmao said it's not implemented yet. There was few reasons for that:
1. There was no request
2. Complexity implementing it is higher than value from it since you can always get full object and `map` nested value.

But that's definitely not the reasons not implementing it.

[2018-01-31 16:38] #69 closed

[2018-01-31 16:43] varnastadeus commented on #120
Closing because unable to reproduce. Feel free to open new issue if you have still have some issues.

[2018-01-31 16:43] #120 closed

[2018-01-31 16:51] varnastadeus commented on #167
Adding note: could be implemented adding array of searchable keys eg.: `searchableFields`

[2018-01-31 16:59] varnastadeus commented on #178
@Ryland42 I am closing this issue. If you will be able to reproduce it, please create new issue and provide plunker.

[2018-01-31 16:59] #178 closed

[2018-01-31 17:09] #218 closed

[2018-01-31 17:31] #144 closed

[2018-01-31 18:31] shyamal890 opened #220 "Feature Request: Handle tag before adding"
`onTagAdding` - Expression to evaluate that will be invoked before adding a new tag. The new tag is available as $tag. This method must return either a boolean value or a promise. If either a false value or a rejected promise is returned, the tag will not be added.

In conjunction with `onTagAdding`, `onTagAdded` can also be added.

[2018-01-31 18:33] shyamal890 opened #221 "Feature Request: Handling Tag before removal"
`onTagRemoving` |- Expression to evaluate that will be invoked before removing a tag. The tag is available as $tag. This method must return either a boolean value or a promise. If either a false value or a rejected promise is returned, the tag will not be removed.

With `onTagRemoving` another event `onTagRemoved` can also be added for expression to be evaluated after tagRemoval

[2018-01-31 18:37] shyamal890 opened #222 "Feature Request: Close autocomplete on tag selection"
Option to close autocomplete dropdown on tag selection. And also don't display the selected value in the dropdown.

[2018-01-31 19:02] varnastadeus commented on #220
@shyamal890 thanks for feature requests. Can you add some use cases why this would be useful?

[2018-01-31 19:02] varnastadeus commented on #221
@shyamal890 thanks for feature requests. Can you add some use cases why this would be useful?

[2018-01-31 19:09] shyamal890 commented on #221
Say a new tag is to be created but before it is added to the list it has be alloted a specific id by the server. 
If the tag is restricted from being created by server.. promise would be rejected.

  On Thu, Feb 1, 2018 at 12:32 AM, Tadeuš Varnas<notifications@github.com> wrote:
@shyamal890 thanks for feature requests. Can you add some use cases why this would be useful?

—
You are receiving this

[2018-01-31 20:23] BenjaminLefevreGithub commented on #152
Would be nice to have this functionality!

[2018-02-01 05:38] shyamal890 commented on #221
Say a user doesn't have permission to remove a particular tag like `Critical` this should be handle before removing the tag.

[2018-02-01 05:38] shyamal890 commented on #220
Say a new tag is to be created but before it is added to the list it has be alloted a specific id by the server.
If the tag is restricted from being created by server.. promise would be rejected.

[2018-02-01 06:08] shyamal890 opened #223 "Feature Request: Evaluate expression instead of [Items]"
Currently to utilize `ng-select` we need to create a variable that needs to be alloted to [items] attribute. Only job of this variable is to act as a source for typeahead. The problem arises when there are multiple `ng-select` in a view. For each of these `ng-select` we need to define the input variables.

Instead we can have an attribute like `source` which evaluates an expression on change in in

[2018-02-01 06:46] anjmao commented on #222
@shyamal890 Hi, thanks for reporting. There is one issue regarding not showing selected items on multiselect #164 but closing dropdown on select is also important and will be added in the near feature.

[2018-02-01 07:16] anjmao commented on #223
Hi @shyamal890. Thanks for reporting. I was thinking about allowing [items] to accept Observable but I realised that you can use async pipe

1)
[code]

[code]

2)
For all custom filtering needs there is [typeahead] input which allows you to implement any custom filtering you want on your side (debounce, distincUntilChanges, ...). There are few improvements left for client side filtering like speci

[2018-02-01 07:18] anjmao commented on #221
Probably we should include all items not only tag, it could be `onItemRemoving` and `onItemRemoved`

[2018-02-01 09:05] varnastadeus commented on #223
@anjmao as you already said you can have `observable` with `debounce` and all the operators that `rxjs` provides.  I think that's more than enough and I hardly see what else could be done here. Correct me if I am wrong.

[2018-02-01 09:44] pupizoid commented on #219
Ok, thanks for reply! Will await for it with patience. 😄

[2018-02-01 10:23] dottodot opened #224 "limited.map is not a function"
I'm following your example for server side search i.e

[code]
but I keep getting this error when the second character is input (if I type 1 character there is no error)

[code]

[2018-02-01 10:31] dottodot commented on #224
Sorry forgot mention that apart from the error it seems to work ok

[2018-02-01 11:21] varnastadeus commented on #224
@dottodot add typescript code or plunker

[2018-02-01 11:29] dottodot commented on #224
[code]
[code]

[2018-02-01 12:37] varnastadeus commented on #224
Can you add examples of data you are receiving from backend?

[2018-02-01 13:28] dottodot commented on #224
Yes the data is from a mongodb and formatted like

[code]

[2018-02-01 14:30] shyamal890 commented on #223
That way too you would have to define multiple variables `source$`. But with `expression` initialization of variables is not needed.

[2018-02-01 15:44] varnastadeus commented on #224
@dottodot your code looks ok, I think there is conflicting directive in your app called `typeahead`. If you look into callstack there are strange `TypeaheadDirective.prepareMatches` in `TypeaheadDirective.prepareMatches` etc.

[2018-02-01 16:30] anjmao commented on #224
@dottodot You are probably using https://github.com/valor-software/ngx-bootstrap/blob/development/src/typeahead/typeahead.directive.ts from valor-software. That is strange implementation to not prefix directive.

[2018-02-01 16:50] dottodot commented on #224
Yes you are right I had imported `ngx-bootstrap/typeahead` at some point and forgotten to remove it. Thanks for your help/

[2018-02-02 01:44] RanadeepPolavarapu opened #225 "Touched is not set when Mouse clicking into Select"
### Expected behaviour
On clicking into a select, `touched` should be set.

### Actual behaviour
On Tabbing into the select and losing focus, it triggers the `formControl` to be `touched`. Right now, clicking into a select and losing won't set `touched`. `Touched` is only set when you click into a select AND select an option. Normal HTML select field will be touched as soon as the user interacts w

[2018-02-02 06:07] anjmao commented on #224
Glad it helped :)

[2018-02-02 06:07] #224 closed

[2018-02-02 08:05] anjmao commented on #225
@RanadeepPolavarapu Thanks for reporting. Indeed I was able to reproduce it. It should be a quick fix and probably will be fixed today.

[2018-02-02 18:22] #222 closed

[2018-02-02 18:23] brux88 opened #227 "Style Validation not formatted"
Hi,
thank you for this control, is very prestty and beautifull
![2018-02-02_1924](https://user-images.githubusercontent.com/3495339/35748580-c730dc68-084e-11e8-999b-cc5495c5327e.png)

I added the validation class for css. work in any control, but in this control. it does not show well.

this is my css class:
`.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green *

[2018-02-02 18:32] #225 closed

[2018-02-02 19:15] varnastadeus commented on #227
@brux88 we don't define validation style in bundle, just change css in your app.

[2018-02-02 19:15] #227 closed

[2018-02-02 19:41] #219 closed

[2018-02-02 19:48] anjmao commented on #209
@jessycormier Closing this one. Please reopen if you still have any issue, thanks.

[2018-02-02 19:48] #209 closed

[2018-02-03 03:09] jansonlwj opened #230 "win10自带的输入法，360浏览器输入中文乱了"
https://pan.baidu.com/s/1i6MCUSd

[2018-02-03 06:09] shyamal890 commented on #220
Hi @varnastadeus any thoughts on this.

[2018-02-03 06:09] shyamal890 commented on #164
+1

[2018-02-03 11:54] varnastadeus commented on #220
Hi @shyamal890. I think this is valid feature and we already had some thoughts about it. `[addTag]` currently accepts function which returns object, it could also return `promise` so this way user could check with server.

[2018-02-03 15:09] #230 closed

[2018-02-03 15:22] jansonlwj commented on #230
怎么修复？

[2018-02-03 15:24] jansonlwj opened #232 "Win10 with the input method, 360 browsers enter Chinese"
https://pan.baidu.com/s/1i6MCUSd

[2018-02-03 17:42] varnastadeus commented on #232
Can you explain the issue?

[2018-02-03 21:19] anjmao commented on #232
@jansonlwj Please add normal description and do not add such links which looks like a virus.

[2018-02-03 21:19] #232 closed

[2018-02-04 01:58] jansonlwj commented on #232
Win10 input method, input Chinese, under 360 browsers will enter a lot of English letters

[2018-02-04 12:35] evxn opened #234 "Not found text is not used for custom tags"
### Expected behaviour
"No items found" text is visible if `addTag` is set to `true`.

### Actual behaviour
Narrow stripe is visible.
![ng-select-bug](https://user-images.githubusercontent.com/134564/35777544-ac0fa8f6-09c0-11e8-841e-fc9582ae9cbe.gif)

DEMO https://stackblitz.com/edit/angular-xy1avv

### More Info
ng-select version: 0.17.0

browser: Version 61.0.3163.100 (Official Build) Built on U

[2018-02-04 12:43] evxn commented on #234
The reason is this line:
https://github.com/ng-select/ng-select/commit/4149375dcccaa7e860c8542e92bb4c78d9042e86#diff-68265c9310f2ae9e060ab288eb5e8491R64
Which I suppose was intended behavior. But it looks just weird.

[2018-02-04 12:48] evxn commented on #234
My suggestion is to change `!addTag` to `!showAddTag()`

[2018-02-04 19:11] BenjaminLefevreGithub commented on #164
I agree, easy to achieve.

I would suggest to not display selected items by defaut (showSelected="false") which makes senses since this is the usual behaviour. Example: http://jedwatson.github.io/react-select/

[2018-02-05 06:36] #234 closed

[2018-02-05 10:09] pupizoid commented on #219
@anjmao, I've just tested - everything works as expected! Thanks for work!!!

[2018-02-05 10:13] wlievens commented on #158
Is there a reason `<ng-option [disabled]="..."></ng-option>` is not possible?

[2018-02-05 11:19] varnastadeus commented on #158
@wlievens `ng-option` is still very new so it lacks features

[2018-02-05 11:33] wlievens commented on #158
Thanks for the speedy reply. So it is possible this will be implemented in the future? I prefer not to manipulate my data model for UI purposes.

[2018-02-05 12:46] varnastadeus commented on #158
@wlievens `ng-option` mimics html select `option`, so things like `selected`, `disabled` etc. should be supported.

[2018-02-05 12:53] varnastadeus opened #236 "ng-option: support for `disabled` attribute"
`ng-option` currently not supports `disabled` attribute. All attributes (except `selected`, `label`) supported by native html `option` should be supported.

[2018-02-05 21:47] mnewmedia opened #237 "feat: dropdownPosition=auto"
I'm Migrating from angularjs to angular 5, there I used [ui-select](https://github.com/angular-ui/ui-select) and they also had this needed feature.

`[dropdownPosition]="'auto'" `

The relevant code part is:
https://github.com/angular-ui/ui-select/blob/master/src/uiSelectDirective.js#L371

and here:
https://github.com/ng-select/ng-select/blob/master/src/ng-select/ng-select.component.ts#L499

[2018-02-06 07:44] #152 closed

[2018-02-06 08:05] varnastadeus commented on #237
@mnewmedia this could be good opportunity for you to contribute 😉

[2018-02-06 13:28] mnewmedia commented on #237
@varnastadeus I knew you would say that. 🤣
So here it is. 🎉

[2018-02-06 14:09] rgiosa commented on #152
Nice! Great work!

[2018-02-06 21:09] BenjaminLefevreGithub commented on #181
proposal: https://github.com/ng-select/ng-select/pull/239

[2018-02-06 22:47] carlhussey commented on #186
Any update on this? I believe it will just need to act the same as **optgroup** in vanilla html.

[code]

[2018-02-07 07:03] anjmao commented on #237
@mnewmedia Thanks for contributing, nice job, it works, but there are few issues, added some comments :)

[2018-02-07 14:29] #237 closed

[2018-02-07 15:43] aitboudad opened #240 "Ng-select inside dialog add extra hidden height (dropdown)"
demo: https://stackblitz.com/edit/angular-material2-issue-yesgfz

### Expected behaviour

example using material select:
![selection_113](https://user-images.githubusercontent.com/1753742/35924646-81d5dc74-0c1b-11e8-932d-e863eab2f858.png)

### Actual behaviour
using ng-select:
![selection_112](https://user-images.githubusercontent.com/1753742/35924670-9445194c-0c1b-11e8-85c4-99a54e434068.png)

###

[2018-02-07 18:07] anjmao commented on #240
@aitboudad Thanks for good repro. It works fine in bootstrap 4 modal window, but I will have a look that is wrong here.

[2018-02-08 06:24] arun-maddheshia opened #242 "First letter is over-written and value says SA instead of USA"
Please fill below information if issuing a bug report.
### Expected behaviour
Tab into a dropdown,  say a country start typing USA, Press enter again type USA the first letter is overlaped

### Actual behaviour
Tab into a dropdown,  say a country start typing USA, Press enter again type USA the first letter is overlaped/cut

### More Info
ng-select version: Latest

browser: Chrome

reproducible in

[2018-02-08 06:29] #181 closed

[2018-02-08 06:39] anjmao commented on #242
Hi @arun-maddheshia, that is a good catch!

[2018-02-08 06:43] arun-maddheshia commented on #242
@anjmao can we get a quick fix please.

[2018-02-08 08:03] shyamal890 opened #243 "notFoundText shouldn't be displayed when loading async data"
When `[loading]` flag is set `notFoundText` shouldn't be triggered as the `[items]` array is still waiting to be populated by an async operation.

Example Plunker: https://plnkr.co/edit/XU3qdu?p=preview

Checkout the first example.

[2018-02-08 08:34] shyamal890 commented on #223
One more usecase that I encountered:

Lets say ng-select is utilized in `*ngFor` div. How would the current implementation be able to handle this? How to `init` items and `typeahead`?

[2018-02-08 16:12] #242 closed

[2018-02-08 16:16] anjmao commented on #242
@arun-maddheshia Checkout ng-select 0.20.1 version, it should work as expected now.

[2018-02-09 06:56] anjmao commented on #243
@shyamal890 Thanks for reporting, good catch!

[2018-02-09 07:02] anjmao commented on #243
This line here is missing some logic https://github.com/ng-select/ng-select/blob/master/src/ng-select/ng-select.component.ts#L369, need to add check if !isLoading

[2018-02-09 12:19] vicabelotelova opened #245 "error with installation"
I performed the installation and connected the component to my APP module. As a result, there was such an error, what could be the problem? Any additional dependencies? or does it work only with Angular 4+?
i have angular "^2.4.10"
![image](https://user-images.githubusercontent.com/20780164/36027370-1db76bbc-0dac-11e8-8869-ebd64f525d0e.png)

### More Info
ng-select version: ["@ng-select/ng-select"

[2018-02-09 12:31] shyamal890 opened #246 "Typeahead event should be triggered on focus"
**Current Behavior:**
Using async operation to bind items, when the user clicks on the `ng-select` input, `asyc` event isn't triggered.

**Expected Behavior**
It should be triggered on input focus itself.

**Workaround:**
`                   (focus)="typeahead.emit()"`

[2018-02-09 12:38] andreasfranz opened #247 "Clear item not working when using custom template and typeahead"
### Expected behaviour
When using the option [multiple]="true" in combination with a custom template it should be possible to remove single selected items after filtering with typeahead.

### Actual behaviour
It does not work and throws an error on the console. Without a custom template it works fine. Looks like an issue with the `clearItem` function.

I created a [Plunker](https://plnkr.co/edit/u

[2018-02-09 13:41] pupizoid opened #248 "Validate [items] input"
Hi again, guys! I've met another strange behavior. For some reasons I need to build several select that represents choice for some classes and their attributes. So, I have two selects and a custom function passed to `[items]` which filters class's attributes (I don't want to show `Object` like attr).

When I select a class, the second select with class attributes is rendered. But when I try to sel

[2018-02-09 13:48] varnastadeus commented on #245
@vicabelotelova it works from 4.0.0+ version

[2018-02-09 13:48] #245 closed

[2018-02-09 13:51] anjmao commented on #248
Hi @pupizoid , ng-select input does not accept function, you should pass array of objects or use observable with async pipe. Passing function is in general bad for performance because it will be called a lot of times for any async event which triggers change detection.
We can addd validation to check what is the type of items input to throw error if it is a function.

[2018-02-09 14:04] pupizoid commented on #248
@anjmao, now I see... I was really confused because there was no error, so type validation is a good idea. Thanks for the answer!

[2018-02-09 14:21] pupizoid commented on #248
@anjmao, well the problem still remains. I've rewritten my code to use component's attr passed to the ng-select instead of function. But I still can't select an item in the second ng-select...

I've updated [Plunker](https://plnkr.co/edit/LnxLTwbYzLs8FhlkqX9I?p=preview) not to use function

[2018-02-09 14:40] anjmao commented on #248
Here is working sample https://plnkr.co/edit/JrhbFzZE6mKjlhTB3PEJ?p=preview
I highly do not recommend to use ngDoCheck if you can perform action on some action change, in this case just add (change)="onCityChange" to first dropdown.

[2018-02-09 14:49] pupizoid commented on #248
Wow, i've definitely "shot into my leg"... Thanks for explaining such situation!

[2018-02-09 14:49] anjmao commented on #246
Hi @shyamal890, can tell more about your use case?

[2018-02-09 16:03] shyamal890 commented on #246
We need to realize users don't really know what typeaheads are. They think its just a dropdown with additional capabilities. Given this backdrop, when a non technical user clicks on the typeahead input he expects it to work as a dropdown. Not seeing any options he believes there's nothing to select here and moves on. Look at the GIF below for example?!

![i](https://user-images.githubusercontent.c

[2018-02-10 06:28] shyamal890 commented on #220
@varnastadeus Any thoughts on when this would be available? Seriously need it asap as its preventing me from implementing a lot of scenarios.

[2018-02-10 11:49] #141 closed

[2018-02-10 11:54] varnastadeus commented on #146
4. check if tag exists among selected values also.

[2018-02-10 16:48] #243 closed

[2018-02-10 17:41] anjmao commented on #246
You can emit value to typeahead on init or on focus and preload items, this does not look like a workaround. In react select there is autoload because you do not use rxjs, here you have full power and flexibility.

[2018-02-10 17:41] #246 closed

[2018-02-10 17:44] shyamal890 commented on #246
So `(focus)="typeahead.emit()"` is the way to do that or is there a better alternative?

[2018-02-11 04:38] jpmyob opened #254 "css behavior - class binding not working and bootstrap classes cause issues"
Please fill below information if issuing a bug report.
### Expected behavior
The item should behave like any other form element for validations, of it is invalid and you class bind for display feedback I would expect the class to be applied. it is not.

Also - when applying classes that affect the ize of the box, an artifact (or hidden input) is visible.

Images included wit SO posting
https://sta

[2018-02-12 09:09] junibrosas opened #256 "Dropdown off from screen"
Please fill below information if issuing a bug report.
### Expected behaviour
Dropdown should be displayed inside the screen.

### Actual behaviour
Dropdown is off when user focuses on screen especially if the select component is on the bottom on the screen.

![issue-02-12-2018](https://user-images.githubusercontent.com/1171482/36089552-821421f0-1017-11e8-8ad7-30582542a70d.PNG)

[2018-02-12 15:43] korsar1 opened #257 "IE wrong positioning of <div class="ng-value">"
### Expected behaviour
selected value should be shown on the same place as placeholder was.

### Actual behaviour
If you select an item on IE then selected item is moved up by ng-input, thus you have two rows inside ng-select: one for selected value (which is moved upper with all the spans and also can be cut by ng-value-container) and ng-input is shown in correct place.

### More Info
ng-select v

[2018-02-12 16:00] korsar1 commented on #257
For me helped setting:

                top: 0px;
            }

[2018-02-12 16:25] andrea-spotsoftware opened #258 "Several errors on start task"
Please fill below information if issuing a bug report.
### Expected behaviour
Following guidelines for contributing results in some build error

### Actual behaviour
I've just cloned the repository master branch, then after launching yarn start:

`
 [413] ./node_modules/zone.js/dist/long-stack-trace-zone.js 6.22 kB {1} [built]
    + 399 hidden modules

ERROR in [at-loader] ./demo/app/app.component

[2018-02-12 16:38] MikaStark opened #259 "Close select when inside label not working"
### Expected behaviour
When you wrap ng-select inside a label, it doesn't close on selection (even if closeOnSelect = true)

### Actual behaviour
You can try it on [your Plunker](https://plnkr.co/edit/NaQ27M?p=preview) if you put a ng-select inside a label (by default it's outside)

### More Info
ng-select version: 0.20.2

browser: Chrome Version 63.0.3239.132 (Build officiel) (64 bits)

reproduci

[2018-02-12 18:45] andreasfranz opened #260 "Mouse interferes with key presses"
### Expected behaviour
It should be possible to navigate through the available item with keyboard key

### Actual behaviour
I created a short [video](https://www.youtube.com/watch?v=AeMOGqV16sc) that shows the issue. The issue only occurs if virtual scroll ist active.

1. Go to the [demo page](https://ng-select.github.io/ng-select#/virtual-scroll)
2. Open the dropdown and hover an item
3. Use the

[2018-02-12 19:00] varnastadeus commented on #260
Hi @andreasfranz, I have seen this behaviour before, will check what can be done here.

[2018-02-12 19:02] varnastadeus commented on #258
@andrea-spotsoftware you are definitely missing something. Try reinstalling you node_modules or similar

[2018-02-13 07:37] anjmao commented on #256
@junibrosas Thanks for reporting. As for now until this is fixed you can use native dom `scrollTop` property to scroll page a bit then this dropdown is opened or you could set position='auto' for dropdown to be set to top if it can't fit the page.

[2018-02-13 07:53] anjmao commented on #259
@MikaStark Hi, thanks for reporting, it is strange bug. In general I don't know any case there you would like to put component inside label except checkbox input.  If you look at any css framework like bootstrap label contains only text. Solution for now would be to not place it inside label as it is in general good practice.

[2018-02-13 07:57] anjmao commented on #254
Hi @jpmyob, could you create simple repro step in issue plunker template https://plnkr.co/edit/hjZX6W?p=preview so I can look at it, I can't reproduce by myself. Thanks.

[2018-02-13 08:03] varnastadeus commented on #258
@andrea-spotsoftware `@types` folder should be resolved automatically. Maybe you have old ts version or something

[2018-02-13 09:32] Pat-Lovelace opened #262 "Support Bootstrap v. 4.0.0."
### Expected behaviour
I would need to have the new structure of the current version of Boostrap (4.0.0.), and I must not import bootstrap beta on my project.

The current behaviour without Bootstrap (4.0.0) loses css settings. As you can see:
![image](https://user-images.githubusercontent.com/32704155/36142581-cd2a7360-10a8-11e8-9b7c-21178203ca7f.png)

Meanwhile, I expect the same behaviour as Bo

[2018-02-13 09:54] Pat-Lovelace commented on #262
Sorry, I forgot to import your _default.styles.scss_ on my styles sheet. Closed.

[2018-02-13 09:54] #262 closed

[2018-02-13 15:07] maxkorz opened #263 "Request: group by"
Hello. Great plugin! Best among the alternatives. I have a request. Can I count on the implementation of the following functionality?

I have a flat list of items I'd like to group them by some property. For example:

List of items:
[code]

Expected behavior:  http://angular-ui.github.io/ui-select/demo-group-by.html ([plunker](http://plnkr.co/edit/pYkwTkNujo3jnSP5XJNB?p=preview))

This issue https

[2018-02-13 15:30] jpmyob commented on #254
I'll do it tonight - thx for setting up a plunker

[2018-02-14 06:24] anjmao commented on #263
Hi, @maxkorz. Yes, I started to work on this one.

[2018-02-14 06:48] mujahidali opened #264 "Aot Error"
Please fill below information if issuing a bug report.
### Expected behaviour
Adding ng-select module causes errors when compiling with -aot

ERROR in (1,1): : Directive NgSelectComponent, Property '_hasValue' is private and only accessible within class 'NgSelectComponent'.
node_modules\@ng-select\ng-select\ng-select.d.ts.NgSelectComponent.html(23,26): : Expected 0 arguments, but got 1.
node_modul

[2018-02-14 08:01] varnastadeus commented on #264
@mujahidali thanks for reporting, will fix it today.

[2018-02-14 09:13] LiamDotPro opened #265 "Detecting end of available scroll for asynchronous loading"
Hello!

We are currently using the same underlying library to implement virtual scrolling in a card view on our application and using the change event and other events given by the scrolling loading up extra elements. As this combo box uses the exact same lib I was expecting we would also have the ability to detect the same changes so we can asynchronously load more elements into the list. Is this

[2018-02-14 12:01] anjmao commented on #186
Hi @carlhussey, I started working on this, home will implement it during this or next week.

[2018-02-14 12:09] anjmao commented on #265
Hi @LiamDotPro, I copy paste code from original angular virtual scroll component, but also removed bunch of not needed code. In original code there is end event https://github.com/rintoj/angular2-virtual-scroll/blob/master/src/virtual-scroll.ts#L375 I can add it back.

[2018-02-14 15:37] LiamDotPro commented on #265
@anjmao If you can add it tomorrow that would be splendid thank you!

[2018-02-14 17:42] #264 closed

[2018-02-14 20:29] mujahidali commented on #264
@varnastadeus Thank you!

[2018-02-15 01:16] mujahidali commented on #264
@varnastadeus  Can you please provide any timeline on an upcoming release that will include this fix. Thanks

[2018-02-15 06:28] varnastadeus commented on #264
@mujahidali check new version

[2018-02-15 15:12] jpmyob commented on #254
sorry for delay Anjmo - I'm working on recreating. , your example isn't using reactive forms, so Im getting issues setting up the environment like mine. if you add a button to chk form status to your example, and touch the select, withouth selecting one, the change focus, I bet you don't get a red 'error' border... but I'll get it working...to show you.

thanks for your patience

[2018-02-16 02:21] penihel opened #268 "Required validation without Reative Forms"
How do a validation without Reative forms. I did not find a demo. I tried this:
[code]

But, dont work it. The validation state never chagnes

[2018-02-16 07:09] arun-maddheshia opened #269 "Allow disabling of browser autocomplete"
Please fill below information if issuing a bug report.
### Expected behaviour
Set the autocomplete attribute of the input field to "off", or allow passing it as an optional attribute so the search would work better.

### Actual behaviour
right now the search results has double dropdown. One by the browser autocomplete, and one by the ng-select. looks wierd.

![ss](https://user-images.githubusercon

[2018-02-16 09:07] VShkotin opened #270 "appendTo doesn't allow to select multiple items at once"
Sorry for my English... but I'll try to explain my issue

<ng-select
    [items]="items"
    **multiple="true"
    [closeOnSelect]="false"**
    [searchable]="false"
    (close)="onClose()"
    (change)="onFilterChange($event)"
    [(ngModel)]="filterModel"
    **appendTo="body"**

And also I have ng-header-tmp template

And I got this issues -
1. I can just choose 1 item and then dropdown close;

[2018-02-16 10:34] varnastadeus commented on #269
@arun-maddheshia I think it should be disabled by default. Will fix it.

[2018-02-16 11:39] arun-maddheshia commented on #269
@varnastadeus thanx :+1:  when it get it release :)

[2018-02-16 11:43] varnastadeus commented on #269
@arun-maddheshia later today

[2018-02-16 13:02] Kalpesh300 opened #272 "Detecting Height"
This is a question about detecting height of dropdown.
I want the height of dropdown after element is added or removed.
I tried using change, remove and add event.
But problem is it shows previous height of dropdown.
When I add any element I am calling a method  on "change" event. It first call the method and then add element to the list on page. Therefore it shows previous height.
The question is

[2018-02-16 13:17] varnastadeus commented on #272
@Kalpesh300 you can try with timeout, since this events doesn't reflect visual changes

[2018-02-16 13:24] varnastadeus commented on #268
@penihel it does work, if you inspect element you would see `ng-invalid`. It just doesn't have any class in default bundle so you need to set it yourself.

[2018-02-16 13:24] #268 closed

[2018-02-16 13:25] #272 closed

[2018-02-16 14:07] varnastadeus commented on #270
@VShkotin thanks for reporting, will try to fix it today.

[2018-02-16 19:18] varnastadeus commented on #257
This commit should fix this issue. [f94f4e6](https://github.com/ng-select/ng-select/commit/f94f4e6a0225b4a076cf38a5caffde19c1a5c7c3). I have checked on IE11 and it looks fine.

[2018-02-16 19:18] #257 closed

[2018-02-16 19:19] varnastadeus commented on #160
@Hesesses @travis1234 This commit f94f4e6 should fix this issue. I have checked on IE11 and it looks fine.

[2018-02-16 23:04] Hesesses commented on #160
awesome!

[2018-02-17 11:13] #146 closed

[2018-02-18 03:41] jpmyob commented on #254
@anjmao - I was unable to replicate my form in your plunker, however, I found a solution,

I needed to add a class to handle the reference.

This is the class used in site,

.state-error {
    background-color: #ffcccc;
    border-color: #ff0000;
}

This is the class I needed to add for the ng-select.

.ng-select.state-error .ng-control {
    background-color: #ffcccc;
    border-color: #ff0000;
}

[2018-02-18 10:05] varnastadeus commented on #254
https://github.com/ng-select/ng-select#validation-state as described here, yes you need add your custom styling.

[2018-02-18 10:05] #254 closed

[2018-02-18 11:00] arun-maddheshia commented on #269
@varnastadeus autocomplete off is not working in chrome :(
![screenshot_2018-02-18_16-28-07](https://user-images.githubusercontent.com/5073214/36351027-f4913ea6-14c8-11e8-88eb-f42a119d2184.png)

[2018-02-18 18:27] varnastadeus commented on #269
As it seems chrome ignores autocomplete off, but if you provide any semantic value then it will work. Not sure about other browsers though

[2018-02-19 05:29] arun-maddheshia commented on #269
@varnastadeus so what workaround to do with ng select because if user autofills the search field its get broken. User unable to select the ng-select dropdown values.

[2018-02-19 08:02] shyamal890 opened #274 "Feature Request: Give access to item.label in ng-label-tmp"
Currently if you want to create a gobal `ng-label-tmp` its not possible since `selected-item` may be of different object type. However, the requirement is to just show the `bindLabel` and then the `close` icon.

If `item.label` is passed down to the custom label template it would solve the above issue.

In reference to #275

[2018-02-19 08:04] shyamal890 opened #275 "Feature Request: Close icon after bindLabel"
Currently `close icon` is displayed before the `bindLabel`. I personally feel its not intuitive enough and the order should be revered.

[2018-02-19 08:31] VShkotin commented on #270
Hi @varnastadeus ! What about this issue? Have you looked on it?

[2018-02-19 10:06] varnastadeus commented on #270
@VShkotin I have the fix. I just need to align with #240 since it depends on that fix.

[2018-02-19 12:23] #220 closed

[2018-02-19 13:02] dan-andreoli commented on #269
@varnastadeus with the last chrome update (v64.x) the workaround not working anymore, but I've noticed that the autocomplete doesn't break the select, but it only hide the selected value. Here a simple solution: ass to the css class .ng-select { z-index: -1; } and this solves the hiding problem.

[2018-02-19 14:18] cburduja opened #276 "Add clearOnAdd option"
Add option for

Input | Type | Default | Required | Description
-- | -- | -- | -- | --
clearOnAdd | boolean | true | no | whether to clear typahead term when an item is added and multiple is set to true

[2018-02-19 19:08] varnastadeus commented on #218
Why do you need to add custom class? Just override css as described here https://github.com/ng-select/ng-select#custom-styles

[2018-02-19 19:11] shyamal890 commented on #218
Depending on a object property say `colorId` I need to modify the background color of the tag. This requires dynamic class.

[2018-02-19 19:23] varnastadeus commented on #218
[code]
won't this solve your use case?

[2018-02-19 19:38] #274 closed

[2018-02-19 19:39] varnastadeus commented on #275
`ng-label-tmp` solves it.

[2018-02-19 19:39] #275 closed

[2018-02-19 19:41] shyamal890 commented on #218
Checkout this plunker: https://plnkr.co/edit/OlzcTF?p=preview

The border styling of `.ng-value` div is still applied.

[2018-02-19 19:45] shyamal890 commented on #274
If #275 isn't supported the only alternative is to have `ng-label-tmp` template which can be duplicated across application. Here is where the problem arises. To share the template we need to have access to `item.label` in the template as `bindLabel` maybe different for different object types.

[2018-02-19 20:10] varnastadeus commented on #218
https://plnkr.co/edit/OMdlT4RpJV4DlDMd7gTN?p=preview
just remove borders with your custom css

[2018-02-20 15:11] volkantas opened #277 "Required attribute is not working"
### Expected behaviour
Required input is necessary for material and default theme.

### Actual behaviour
User can't set required field. [required]="true" is not working.

### More Info
ng-select version: 0.21.0

browser: Mac OS, Chrome

[2018-02-20 16:03] varnastadeus commented on #277
@volkantas it works,  just your custom styling https://github.com/ng-select/ng-select#validation-state

[2018-02-20 16:03] #277 closed

[2018-02-20 17:17] nicu-chiciuc commented on #258
I think the issue shouldn't be closes since the instructions on the readme file are not correct or, at least, don't provide all the requirements for successfully building the project. I'm getting the following errors:
[code]

Through some digging around I managed to make some of the errors disappear yet I think this shouldn't've happened in the first place.

[2018-02-20 20:40] varnastadeus commented on #258
Looks like you have same issues as author of this issue. Have you tried solution he provided?

[2018-02-21 11:29] FritzHerbers opened #278 "Search not selecting option when a previous option was selected"
### Expected behaviour
When an option was selected before, a new search should be capable to automatically select a searched option, so that only ENTER needs to be pressed (not going down in the list and select an option with the mouse or ENTER).

### Actual behaviour
https://plnkr.co/edit/PUeANT?p=preview
Reproducing the Issue and explanation can be found in the Plunker.

### More Info
0.21.0

[2018-02-21 12:54] varnastadeus commented on #278
@FritzHerbers thanks for plnkr and good explanation. In this case, when ABC is entered, ABC option should be marked and pressing enter should be enough to select it.

[2018-02-21 16:46] marvinosswald opened #279 "Feature Request: expose this._focusSearchInput();"
Please fill below information if issuing a bug report.
### Expected behaviour
Make select focusable from outside with an input on [focus]

basically expose this._focusSearchInput(); through that input

### Actual behaviour
not implemented

### More Info
ng-select version: [INSERT HERE]

browser: [INSERT BROWSER INFO HERE]

reproducible in demo page: [YES/NO]

[2018-02-21 17:39] FritzHerbers commented on #278
When implementing the fix, beware that when the user escapes the search, the previously selected option should be chosen/still be valid.

[2018-02-21 18:28] varnastadeus commented on #279
@marvinosswald can you add use case for it?

[2018-02-21 19:47] #278 closed

[2018-02-21 22:02] marvinosswald commented on #279
i have ng-select embeded in a modal so i want it to be focused when i open the modal

[2018-02-22 00:42] travis1234 commented on #160
@varnastadeus Thankyou!

[2018-02-22 12:41] asadaries opened #282 "Searchable server side tags clears ngmodel on search"
Please fill below information if issuing a bug report.
### Expected behaviour
My old selected values should have been retained in select area

### Actual behaviour
Tags are loaded from server side, using code from examples. I search for tag select some. Then i research it clear my model values.

[2018-02-22 12:42] asadaries commented on #282
searchInit() {
        this
            .checklistSearchEvent
            .pipe(distinctUntilChanged(), debounceTime(500), switchMap(term => this.checklistService.getAll(this.state.params.tenantId, {
                PageNumber: 1,
                PageSize: 50,
                SearchTerm: term
            })))
            .subscribe(x => {
                this
                    .cd

[2018-02-22 14:49] varnastadeus commented on #282
@asadaries you are probably overriding `ng-model` on load. Just do everything like in https://github.com/ng-select/ng-select#flexible-autocomplete

[2018-02-22 16:47] #236 closed

[2018-02-22 17:07] adamk33n3r opened #283 "Appending to body doesn't align the dropdown correctly."
When appending to body, the dropdown isn't aligned correctly.
### Expected behaviour
Dropdown lines up correctly

### Actual behaviour
The dropdown position is shifted. It seems to depend on `<body>` and other elements at the start of the doc to not have any margins. It is positioned `8px` off in both x and y due to the `<body>` margins. If the first element in `<body>` is an `<h1>`, which has top

[2018-02-22 17:38] adamk33n3r opened #284 "Appending dropdown to non-body element isn't aligned properly"
### Expected behaviour
Dropdown is aligned under the select

### Actual behaviour
The dropdown is appended below where it would be in the element

Here is an example of the behavior on [StackBlitz](https://stackblitz.com/edit/ng-select-appendto-bug?file=app/app.component.html)

### More Info
ng-select version: 0.21.0

browser: chrome, firefox

It looks like the position function is assuming we're

[2018-02-23 08:08] anjmao commented on #284
@adamk33n3r thanks for help, I am currently working on dropdown refactoring, will fix this issue too.

[2018-02-23 13:46] akhilsahu opened #285 "Transparent backgorund"
Please fill below information if issuing a bug report.
### Expected behaviour
No transparent background and there's issue in with chrome autofill

browser:  Chrome

 Tried disabling autofill and also tried adding css nothing works

Following `css`

`.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;background-color: teal;
}
.ng-select.custom .ng-control  {
    min-heigh

[2018-02-24 02:50] jorgelub12 commented on #285
I have the same problem when I see the component from phone

[2018-02-25 15:12] aitboudad opened #288 "[Typeahead] reset item list on input blur"
### Actual behaviour
![ng-select-typeahead](https://user-images.githubusercontent.com/1753742/36643009-2b08e266-1a3e-11e8-87a6-64f190be5de6.gif)

### More Info

reproducible in demo page: YES

https://ng-select.github.io/ng-select#/filter

[2018-02-25 16:11] varnastadeus commented on #285
@akhilsahu I don't see how it doesn't works.. https://plnkr.co/edit/OMdlT4RpJV4DlDMd7gTN?p=preview

[2018-02-25 16:11] #285 closed

[2018-02-25 16:41] varnastadeus commented on #288
@aitboudad I don't see issue here. Typeahead usually is used to get data from backend so you see what you load. If you are using typeahead for custom search then you have to handle all filtering cases yourself. I updated demo for this case.

[2018-02-25 16:41] #288 closed

[2018-02-26 10:48] Filini opened #289 "More than one ng-select are opened with the arrow button click"
### Expected behaviour
When clicking the ng-select arrow to open it, the other ng-select dropdowns should close. Only one ng-select should be open at any given time. The behaviour is correctly implemented when the ng-select is opened by field focus.

### Actual behaviour
More than one ng-select stays open, when opening them with the arrow button.

### More Info
ng-select version: 0.22.0

browser:

[2018-02-26 15:29] anjmao commented on #258
@andrea-spotsoftware You are correct, windows requires `"typeRoots": [ "../node_modules/@types" ]`

[2018-02-26 15:35] anjmao opened #291 "Add dynamic items heights support"
Currently virtual scroll is not supporting items with dynamic height. If dynamic height is used scroll is not working correct. This happens because we need to know total scroll height and each item height in order to scroll to selected item.

- [x] Make virtual scroll disabled by default. This will allow to scroll to selected items with disabled virtual scroll. (Easy to implement because all items

[2018-02-26 15:37] anjmao commented on #289
@Filini Thanks for reporting. This happens because this line of this line here https://github.com/ng-select/ng-select/blob/master/src/ng-select/ng-select.component.ts#L471

As arrow button is inside select rect it is skipped. Need to check if it is possible to check if target is actually arrow btn and exclude it then.

[2018-02-26 15:47] anjmao commented on #284
@adamk33n3r Hi, checkout https://stackblitz.com/edit/ng-select-appendto-bug-v29ztd, should work as expected now :)

[2018-02-26 15:49] anjmao commented on #240
@aitboudad In new 0.23 version dropdown panel is not append to the DOM by default anymore, it should fix this issue.

[2018-02-26 15:49] #240 closed

[2018-02-26 15:50] anjmao commented on #279
@marvinosswald It is public now https://github.com/ng-select/ng-select/blob/master/src/ng-select/ng-select.component.ts#L410:5

[2018-02-26 15:50] #279 closed

[2018-02-26 15:51] anjmao commented on #118
Closing this as issue is now tracked on https://github.com/ng-select/ng-select/issues/118

[2018-02-26 15:51] #118 closed

[2018-02-26 15:55] adamk33n3r commented on #284
@anjmao That's great!

[2018-02-26 16:41] anjmao commented on #284
@adamk33n3r Oh, just saw that appending to body is still not working correctly. Will look into into, I saw you registered an issue for that :)

[2018-02-26 16:41] #284 closed

[2018-02-26 17:54] shyamal890 opened #292 "Feature Request: Click event for tags"
How to run a function on tag click?

Tried `let-` on `ng-template` didn't work: https://plnkr.co/edit/aqM7LN?p=preview

[2018-02-26 18:28] ksamborn opened #293 "Set width with appendTo body"
Hi -

Is it possible to specify the width of the dropdown with appendTo?  This is independent of the selection box.

From this code, I think the answer is "no", but I decided to ask if there is some workaround:

[code]

thanks,
Kevin

[2018-02-26 19:15] varnastadeus commented on #293
Hi @ksamborn, why not use css?

[2018-02-26 19:30] Kevin2iBi opened #294 "Support for angular [compareWith]"
Please fill below information if issuing a bug report.
### Expected behaviour
Describe how you think it should work

### Actual behaviour
Describe how it actually works or create example using [Plunker](https://plnkr.co/edit/hjZX6W?p=preview) issue template

### More Info
ng-select version: [INSERT HERE]

browser: [INSERT BROWSER INFO HERE]

reproducible in demo page: [YES/NO]

[2018-02-26 19:51] varnastadeus commented on #294
@Kevin2iBi why do you need this? Can you add use case?

[2018-02-26 19:58] varnastadeus commented on #292
@shyamal890 you don't need to assign click using `let`, just use `(click)` on div.

[2018-02-26 20:10] shyamal890 commented on #292
Need to pass function from parent though.

[2018-02-26 20:11] shyamal890 commented on #292
1.

[2018-02-26 20:11] #292 closed

[2018-02-26 20:12] ksamborn commented on #293
Thanks, @varnastadeus, but does CSS work here?   doesn't the _updateDropdownPosition use inline styles to overwrite the CSS?

I understand I can use !important, but will the rest of the calculations will interfere?

Sorry if I'm missing something.

Thanks for your help!

Kevin

[2018-02-26 20:39] varnastadeus commented on #293
@ksamborn yes, you can use !important and it should work, tested my self.

[2018-02-26 20:51] ksamborn commented on #293
OK, @varnastadeus, I will try it.   thanks

[2018-02-26 20:51] #293 closed

[2018-02-27 06:16] Kevin2iBi commented on #294
I wanted this in case you may already have an element selected in the selection field from a value set in the form controls but fortunately your component already has this functionality. thank you so much

[2018-02-27 06:37] anjmao commented on #294
@Kevin2iBi glad it works, closing this.

[2018-02-27 06:37] #294 closed

[2018-02-27 16:02] anjmao opened #297 "Placeholder is visible with selected value"
### Expected behaviour
Placeholder should not be visible if selected value is set

### Actual behaviour
Placeholder is visible
![image](https://user-images.githubusercontent.com/3028012/36739122-dbed641c-1be7-11e8-9f8f-3eb622d2ed97.png)

reproducible in demo page: [YES]

[2018-02-27 16:03] #270 closed

[2018-02-27 16:03] #289 closed

[2018-02-27 16:37] SunilKumar5 opened #298 "Request to Improvement Auto Fill(Auto select if single option)"
Please fill below information if issuing a bug report.
### Expected behaviour
After filtering the options based on input values. If only one option is left it should auto select the option.

### Actual behaviour
Right now the user has to click enter to make the option selected even there is a single option.

### More Info
This might not be a default functionality but can be added as a feature by s

[2018-02-27 18:18] fssrepository opened #300 "It's a bloatware - the size is too big for a single component - 208KB gzipped / minified"
![image](https://user-images.githubusercontent.com/33239584/36746347-6b13e918-1bf2-11e8-940c-54462406d47f.png)

I generated released map files with ionic:
./node_modules/@ionic/app-scripts/bin/ionic-app-scripts.js build --prod --generateSourceMap true
and checked
source-map-explorer main.js{,.map}

It's a luxury that a select cost 200KB. I have reimplemented ionic, and every component of mine cost

[2018-02-27 19:05] tosehee75 opened #301 "How to set the active item on load?"
Thanks for the great components. I was using the valor's ng-select, but surprised by this component's features, decided to move onto this.

One of the key feature that I need to figure out is how to set the default active items.

I looked through the code and examples, but can't figure out how to do that.

In short, I need to load the items in <ng-select>, but also pre-select the active item(s) as

[2018-02-27 19:22] tosehee75 commented on #301
Okay.

Just played with it more and figured out that I can use "ngModel" for it. How does it work in multiple selection?

Do I use the ngModel with object type of any []? or ?

[2018-02-27 19:39] varnastadeus commented on #301
@tosehee75 for multiple just set your `ngModel` with `any[]`. There are plenty examples, why do you need to create issues?

[2018-02-27 20:32] anjmao commented on #300
Hi @fssrepository, last time I checked it was only 45kb minified, will check this as soon as possible, it looks some rxjs operators may take a lot of size.

[2018-02-27 22:54] ksamborn opened #302 "Reset after selection"
Hi - is it possible to set the ngModel to null within the (change) event?

Here is a plunker - https://plnkr.co/edit/4vVcBF?p=preview

Basically, we want the behavior of the "Pick & clear" - after the user has chosen an item, we make some changes elsewhere on the screen and we want to "reset" the model by setting it to null.

For some reason, this works only on the first time.   The second time, l

[2018-02-27 23:06] ksamborn opened #303 "Closing dropdown error on IE."
Please fill below information if issuing a bug report.

### Expected behaviour
The dropdown should close without error.

### Actual behaviour
The dropdown does not close and has a console error

Can be seen in the demos and here:

https://plnkr.co/edit/4vVcBF?p=preview

[code]

In our application we are a hybrid NG1 app and the ng-select is a downgraded component.  The error causes the entire page

[2018-02-28 06:20] #301 closed

[2018-02-28 06:26] anjmao commented on #300
I can confirm that one recent feature caused this problem.

[2018-02-28 07:41] #300 closed

[2018-02-28 07:47] anjmao commented on #300
@fssrepository Checkout new version. Now it is only 15KB gzipped.
[code]

[2018-02-28 08:33] learning-angular-project commented on #282
@asadaries Have you find a solution to get it working. I've the same probleme my ng-model values are cleared

[2018-02-28 08:38] anjmao commented on #303
@ksamborn This happens because of this line https://github.com/ng-select/ng-select/blob/14e1da5d7fa9978d0c3d486402da8b25388cfef3/src/ng-select/ng-dropdown-panel.component.ts#L116

IE 11 does not support .remove method, instead it should be `node.parentNode.removeChild(node)`

[2018-02-28 10:07] varnastadeus commented on #303
@anjmao I suggest using `Renderer2` in this case

[2018-02-28 10:10] varnastadeus commented on #282
@learning-angular-project thanks for plunker, I will check it out.

[2018-02-28 10:26] anjmao commented on #282
Probably this line causing this issue https://github.com/ng-select/ng-select/blob/master/src/ng-select/ng-select.component.ts#L415. Will try to remove it.

[2018-02-28 12:03] Gillardo opened #306 "Dropdown doesnt open upwards if no space"
You can replicate this on the plunkr demo, if you go to the dropdown at the end of the page, where there is not enough room for the dropdown to appear, i think the dropdown list should open upwards.  This is how a native dropdown would work.

Is this possible?  It is an extra setting that isnt applied to the plunkr demo?  I think it should do this automatically

[2018-02-28 12:34] varnastadeus commented on #306
Check out the API section

[2018-02-28 13:07] anjmao commented on #306
Currently default dropdown position is set to bottom, it make sense to change it to `auto`.

[2018-02-28 13:12] asadaries commented on #282
@varnastadeus Yup, i identified the same issue i-e bindValue clears ngModel. I opted to not provide any explicit bindValue options.

[2018-02-28 13:24] Gillardo commented on #306
Thanks for reply.  I think auto should be default. great component btw!

[2018-02-28 14:11] Gillardo opened #307 "Not opening when called"
Please fill below information if issuing a bug report.
### Expected behaviour
I want to reopen the select component once a value is selected.  To do this i use the (change) event to reopen the component

### Actual behaviour
The dropdown items do now appear, although the arrow seems to change like it is open.  If you click anywhere on the page, you see the list for a brief moment and then it disap

[2018-02-28 16:43] varnastadeus commented on #307
@Gillardo why you are doing this? There is `[closeOnSelect]` input property.

[2018-02-28 16:49] anjmao commented on #307
@Gillardo Thanks for reporting, there is indeed a bug for open() method, fix is simply, will be fixed in https://github.com/ng-select/ng-select/pull/299

[2018-02-28 17:05] Gillardo commented on #307
Sorry didn't think about using closeOnSelect. I am porting over from a different ngSelect component and this was the way it had to be done.  I will try this instead. Glad I found a bug though 😁

[2018-02-28 17:43] ksamborn opened #308 "Clicking outside dropdown does not revert"
Please fill below information if issuing a bug report.
### Expected behaviour
Clicking outside the dropdown should revert to the previous selected item.   This should be the same as hitting "Escape"

this is the behavior in 0.22.0

### Actual behaviour
In 0.23.2, clicking outside the dropdown leaves the entered text as the selected text.

For example, if you go to the Data Sources demo, and start

[2018-02-28 19:05] #303 closed

[2018-02-28 19:35] varnastadeus commented on #298
@SunilKumar5 why item should be selected? Usually when you search, you don't know what you looking for, so selecting item sounds very confusing and unintuitive. I don't see much value in this feature and I doubt that we will support it. What do you think @anjmao?

Anyway you could achieve this with `typeahead` custom search, just set your `NgModel` with the value left after filtering.

[2018-02-28 19:42] Gillardo commented on #307
Thanks for the tip about [closeOnSelect].  Instead of using open, i have used [closeOnSelect]="false" and then called close() when i needed the dropdown closed.

[2018-02-28 19:50] varnastadeus commented on #308
#299 this PR has the fix, thanks for reporting.

[2018-02-28 20:13] anjmao commented on #308
@ksamborn 0.24.0 version is pushed to npm with this fix

[2018-02-28 20:14] #308 closed

[2018-02-28 20:14] anjmao commented on #307
`open` method fixed with https://github.com/ng-select/ng-select/commit/ea6b636efe6bc7ee96d50fdfa4b809ed3d529069

[2018-02-28 20:15] #307 closed

[2018-02-28 20:17] anjmao commented on #282
I'm working on a fix for this.

[2018-03-01 01:14] ksamborn commented on #308
@anjmao @varnastadeus thanks

[2018-03-01 06:08] shyamal890 commented on #164
@anjmao This a must needed feature. Would appreciate your thoughts.

[2018-03-01 06:09] shyamal890 commented on #221
@varnastadeus Can we have the same code which we have for `onTagAdding` here too.

[2018-03-01 06:35] shyamal890 opened #309 "Feature Request: Ability to handle tag before adding"
https://github.com/ng-select/ng-select/issues/220 only addresses 'NEW' tags. This should be extended for any options in dropdown.

`onOptionSelection` - Expression to evaluate that will be invoked before adding an `option` from the dropdown to `ngModel`. The `option` model is available as `$option`. This method must return either a boolean value or a promise. If either a false value or a rejected

[2018-03-01 06:42] anjmao commented on #302
Hi @ksamborn This is interesting. If I add timeout then it works.

[code]

[2018-03-01 06:45] shyamal890 commented on #221
Would appreciate your thoughts on when this would be available. Trying to migrate from [ng-tags-input](https://github.com/mbenford/ngTagsInput) currently there are no alternates in `ng-select` to features like `onTagAdding` and `onTagRemoving`.

[2018-03-01 09:20] BagumEpmak commented on #164
While this most expected feature not implemented you can try this ugly workaround in your main css file:
.ng-select-dropdown-outer .ng-select-dropdown .ng-option.selected {
    display: none;
}

[2018-03-01 13:32] ksamborn commented on #302
Thanks @anjmao, I figured that out from SO, specifically this one: https://stackoverflow.com/a/43339577

But something still seems very weird, and I don't know why it isn't working.   I updated the Plunker

In our application, we are in fact using ngModel and ngModelChange, the latter with a setTimeout, like this:

[code]

And, it seems to work for us, although it doesn't in the Plunker.

As far a

[2018-03-01 15:28] learning-angular-project opened #310 "typeahead stop workin after an error"
Please fill below information if issuing a bug report.
### Expected behaviour
When I use the autocomplete with typeahead and I get a 400 error from ther server I should be able to enter new data in the select field

### Actual behaviour
After a 400 error when I enter data in the select field no more request are triggered to the server

### More Info
ng-select version:0.23.2

browser: firefox 58.0.

[2018-03-01 15:30] learning-angular-project opened #311 "loading icon still present"
### Expected behaviour
When I use the autocomplete with typeahead and I remove rapidlly the data ine the select box the loader is still present even if the select has no more focus

### Actual behaviour
The loader should not display

### More Info
ng-select version: 0.23.2

browser: firefox 58.0.2

reproducible in demo page: YES
https://plnkr.co/edit/KFpvA9?p=preview

[2018-03-01 15:42] anjmao commented on #311
Hi @learning-angular-project Thanks for reporting. It is also related to https://github.com/ng-select/ng-select/issues/310

[2018-03-01 16:28] #311 closed

[2018-03-01 16:28] anjmao commented on #310
See https://github.com/ng-select/ng-select/issues/311

[2018-03-01 16:28] #310 closed

[2018-03-01 16:33] anjmao commented on #302
@ksamborn

1) You select value in ng-select
2) ng-select use onChange() to notify your ngModel and update with selected value
3) At the same time ng-select also fires change event
4) You are subscribing to change event and setting ngModel back to null
5) All that happens on the same change detection cycle
6) By using setTimeout you are forcing to execute your code on next check detection cycle

Ho

[2018-03-01 23:21] SunilKumar5 opened #313 "Multiple Dropdowns:Click on 2nd Dropdown does not open it as the first Dropdown was open"
Please fill below information if issuing a bug report.
### Expected behaviour
When there are multiple drodpdowns on the same screen. First click on a dropdown opens options and clicking directly on other dropdown should have opened the second dropdown.

### Actual behaviour
Now First click on a dropdown opens options and clicking directly on other dropdown closes the first dropdown options but doe

[2018-03-02 00:03] ksamborn commented on #302
OK, I guess it works so I can live with it.  Thanks, @anjmao

[2018-03-02 00:03] #302 closed

[2018-03-02 07:47] anjmao commented on #313
Hi @SunilKumar5 ,
We added technique like in angular material which adds overlay on whole page. This allows to easily close dropdown by clicking on overlay, so you don't need to listen to global document click events, but in your case it requires extra click. It is still working fine when using tabs navigation. I will keep this open for now and investigate possible solutions.

[2018-03-02 08:04] anjmao commented on #313
https://github.com/angular/material2/issues/10232

[2018-03-02 08:08] varnastadeus commented on #313
@anjmao @SunilKumar5 native html select works this way so I am perfectly fine with this behaviour.

[2018-03-02 08:27] anjmao commented on #313
@varnastadeus If native html sucks it doesn't mean what we also should.

[2018-03-02 11:25] LeahPike opened #315 "addTag adds an object not a string?"
### Expected behaviour
I'm binding to a list of string, when I enable addTag and add a new value ( Purple )  it should add just a string to the array.

### Actual behaviour
It's adding an object to the array.

### More Info
If I add an existing tag ( Yellow ), it just adds the string.
[code]

ng-select version: 0.23.3

browser: Chrome Version 64.0.3282.186 (Official Build) (64-bit)

reproducible i

[2018-03-02 15:08] MadJlzz commented on #186
I made a simple workaround to do what you're expecting while waiting for the native feature.

    <ng-select class="custom"
               [searchable]="true"
               placeholder="Select Option Type">
      <ng-template ngFor let-optionType [ngForOf]="optionTypeMock">
        <ng-option [disabled]="true" value="optionType">-- {{ optionType.category }} --</ng-option>
        <ng-option *ngFo

[2018-03-02 15:52] varnastadeus commented on #315
@LeahPike you are probably using `bindLabel` which is not necessary since you have simple strings and `tagging` creates same object to match it after creation.

[2018-03-02 20:22] SunilKumar5 opened #316 "click event on ng-option triggering click event on ng-control?"
Hi,
Really appreciate your help. when i click on an option the value is selected and the drop-down is still open. When I debugged, I found out that the click on ng-option works fine but the click event on ng-control is getting triggered with the same click. Can you please help me in understanding what might be the reasons for this?

### More Info
ng-select version: [0.24.0]

browser: [chrome]

rep

[2018-03-02 20:28] anjmao commented on #316
Hi @SunilKumar5,
In order to help you I would ask to create reproducible sample using simple plunker template https://plnkr.co/edit/hjZX6W?p=preview

Thanks.

[2018-03-02 20:34] davidoween commented on #268
It happens exactly the same. That same example does not work. the input class is ng-valid

[2018-03-02 21:30] anjmao commented on #297
possible bug in angular https://github.com/angular/angular/issues/22560

[2018-03-02 22:22] varnastadeus commented on #268
@davidoween add plnkr to see what are you doing wrong.

[2018-03-04 00:16] LeahPike commented on #315
I tried not setting the bindLabel at all, or setting it to empty, but it was persistent about wanting to add new tags as an object with a label property.

[2018-03-04 08:31] varnastadeus commented on #315
ok, I can confirm it is a bug.

[2018-03-04 08:38] varnastadeus commented on #283
@adamk33n3r for now simplest solution would be to set body `position: relative`

[2018-03-05 06:37] #297 closed

[2018-03-05 06:41] #263 closed

[2018-03-05 06:50] anjmao commented on #186
I just pushed support for grouping items with `groupBy` https://ng-select.github.io/ng-select#/grouping Now internals are ready for children  support.

[2018-03-05 09:16] MadJlzz commented on #186
@anjmao Updated your library version and already using it !

[2018-03-05 10:12] armache opened #319 "karma test fails"
Hello,

Has anyone succeed to test this control with Karma? I am getting the below error:

![image](https://user-images.githubusercontent.com/22368645/36969558-bb5c751a-205d-11e8-8424-fb5cec489ea8.png)

[2018-03-05 10:32] varnastadeus commented on #319
@armache you need to import NgSelectModule into your testing module..

[2018-03-05 10:46] armache commented on #319
Thanks!!! That was it, missed the obvious :)

[2018-03-05 11:29] #319 closed

[2018-03-05 13:48] anjmao commented on #265
@LiamDotPro you can see example with loading items in chunk here https://ng-select.github.io/ng-select#/virtual-scroll

[2018-03-05 13:48] #265 closed

[2018-03-05 15:11] adamk33n3r commented on #283
Interesting! I wouldn't have thought that could "fix" it.

[2018-03-05 15:34] AmineBena17 opened #320 "Can't bind to 'markFirst' since it isn't a known property of 'ng-select'."
### Expected behaviour
set the first item as a default option

### Actual behaviour

i'm using  [markFirst] and i got this error :

`ERROR Error: Uncaught (in promise): Error: Template parse errors:
Can't bind to 'markFirst' since it isn't a known property of 'ng-select'.

If 'markFirst' is an Angular directive, then add 'CommonModule' to the '@NgModule.imports' of this component.
To allow any pro

[2018-03-05 15:56] varnastadeus commented on #320
@AmineBena17 there is no 2.0.0 version 😄

[2018-03-05 15:59] AmineBena17 commented on #320
i'm really sorry, i put my issue in the wrong library. i'm using another one

[2018-03-05 15:59] #320 closed

[2018-03-05 16:17] shyamal890 commented on #309
@anjmao Can you please add this feature.

[2018-03-05 16:40] SunilKumar5 commented on #298
@varnastadeus Thanks for your suggestion. I was able to figure out when only one option is left and I'm assigning the value to the NgModel. I'm having trouble in making the NgModel value as selected value and close the dropdown after it is assigned, on the DOM side. Can you please give any suggestions on how this can be achieved.

[2018-03-06 06:36] varnastadeus commented on #259
this should be fixed in the latest version.

[2018-03-06 06:36] #259 closed

[2018-03-06 06:58] anjmao commented on #309
@shyamal890 Hi, in you use case, maybe you can use header or footer template and add button `Add all`, which sounds like a normal solution to me?

[2018-03-06 07:17] shyamal890 commented on #309
Elaborating on the usecase:

1. Options like `Add All`, `None`, etc should only be visible when the user types matching/containing phrase.
2. Adding an option like `critical` should only be possible if the data meets certain criteria. For this we need to make a request to the server for checking possibility.

[2018-03-06 10:12] compozedani06 opened #321 "Object doesn't support property or method 'remove' error in IE"
Please fill below information if issuing a bug report.

ng-select not working in  IE

ng-select version: 0.23.0

browser: IE11

[2018-03-06 10:32] varnastadeus commented on #321
@compozedani06 use latest version

[2018-03-06 12:02] #321 closed

[2018-03-06 13:10] arun-maddheshia commented on #269
@varnastadeus any update on it, the issue is still exist.
@dan-andreoli  `.ng-select { z-index: -1; }` is not solved the problem.

[2018-03-06 13:27] Filini commented on #289
thank you

[2018-03-06 13:50] varnastadeus commented on #269
@arun-maddheshia please provide reproducible plnkr, I tried to reproduce it with no luck.

[2018-03-06 14:04] #315 closed

[2018-03-06 14:35] varnastadeus commented on #298
@SunilKumar5 you could get `select` using `@VIewChild` and call `close` method on it.

[2018-03-06 17:54] LeahPike commented on #315
Thank you :)

[2018-03-06 21:49] SunilKumar5 commented on #298
@varnastadeus Thanks, that worked.

[2018-03-06 21:49] #298 closed

[2018-03-07 08:12] dzNavitski opened #323 "Template for value container"
It will be nice if we can render multiple selected options in `value container` not only with tags but with text. For example, if selected 5 options show `Selected 5`, not five tags.

[2018-03-07 08:41] anjmao commented on #323
Hi @dzNavitski, that is good suggestion.
Currently `<ng-template ng-label-tmp let-item="item"></ng-template>` works for both single and multi select. Probably this can be solved by adding new template called something like `ng-multi-label-tmp`

[code]

[2018-03-07 09:40] salih0313 opened #324 "Selected value binding as Placeholder. Is there any option to binding as Input value?"
Once selected the value from list, it is binding as Placeholder of input. if i want to type more from which i have typed or selected earlier, i can't. i need to type from begin.

is there any option / setting for selected or typed value bind as Input value?

[2018-03-07 15:09] #282 closed

[2018-03-07 22:07] martinmicunda opened #326 "ng-select not display 0 when [items] list contains 0 as number"
Please fill below information if issuing a bug report.
### Expected behaviour
The ng-select should display 0 in the select drop-down list.
![2018-03-07_22-02-23](https://user-images.githubusercontent.com/1643606/37120796-48e90e06-2253-11e8-9ea5-040cd1c87991.jpg)

### Actual behaviour
[code]

![2018-03-07_21-56-54](https://user-images.githubusercontent.com/1643606/37120653-e4c3781c-2252-11e8-9933-f

[2018-03-08 06:39] varnastadeus commented on #326
There is issue in label formatting, will fix it, thanks.

[2018-03-08 07:45] anjmao commented on #326
https://github.com/ng-select/ng-select/blob/master/src/ng-select/items-list.ts#L183 use isDefined helper

[2018-03-08 10:05] #326 closed

[2018-03-08 13:38] chrisbenseler commented on #132
@xTaz1 any clue on why in my app the [disabled] is not recognized? The console outputs
Can't bind to 'disabled' since it isn't a known property of 'ng-select'.
My package.json has the latest package
"@ng-select/ng-select": "^0.26.0",

All other properties (from https://github.com/ng-select/ng-select#api) works correctly.

[2018-03-08 21:22] jericdeleon opened #329 "Error: Metadata version mismatch for module .../node_modules/@ng-select/ng-select/ng-select.d.ts"
### Expected behaviour
`ng serve` starts an Angular application (using ng-select) with no problems

### Actual behaviour
Upon `ng serve`, error occurs:
[code]

### More Info
Metadata version error doesn't appear on `0.23.1`, but errors out on every version on or after `0.23.2`.
A sample repo with the issue can be found here: https://github.com/jericdeleon/angularspree/tree/ng-select-metadata-error

[2018-03-08 23:10] maxkorz opened #330 "bug(grouping): ng-optgroup should not be marked on open"
### Expected behaviour
I think `ng-optgroup` should not have css class `marked` on select dropdown open.
Instead, the first `ng-option` should have it.

### Actual behaviour
https://stackblitz.com/edit/angular-bmmcbi?file=app%2Fapp.component.ts

`disabled ng-optgroup` is marked
 <img src="https://i.imgur.com/OQkiYhD.png">

### More Info
ng-select version: 0.26.1
browser: Google Chrome
reproducible

[2018-03-08 23:15] maxkorz opened #331 "ng-select imports nodejs util module"
https://github.com/ng-select/ng-select/blob/master/src/ng-select/ng-select.component.ts#L42

[code]
I think there's an error. `IsObject` should be imported form `'./utils`.

The [plnkr demo](https://plnkr.co/edit/hjZX6W?p=preview) doesn't work because of this bug

[2018-03-08 23:19] maxkorz commented on #329
In version 0.23.2 [ng-packagr was updated to version "^2.1.0"](https://github.com/ng-select/ng-select/pull/304/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L66).

[Version 2 of ng-packagr is targeting Angular 5 (and beyond).](https://github.com/dherges/ng-packagr/blob/master/CHANGELOG.md#200-2018-02-05). You need to update your project to Angular 5.x

[2018-03-08 23:20] jcmannam opened #332 "Option to select all the elements in Multiselect"

[2018-03-08 23:24] maxkorz opened #333 "Update angular version in peerDependencies"
In version 0.23.2 [ng-packagr was updated to version "^2.1.0"](https://github.com/ng-select/ng-select/pull/304/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L66).
But [Version 2 of ng-packagr is targeting Angular 5 (and beyond).](https://github.com/dherges/ng-packagr/blob/master/CHANGELOG.md#200-2018-02-05)

Therefore [package.json](https://github.com/ng-select/ng-select/blob/master/src/package.json)

[2018-03-08 23:36] jericdeleon commented on #329
Glad to know this, thanks for the timely help!

[2018-03-08 23:36] #329 closed

[2018-03-09 07:23] anjmao commented on #333
@maxkorz Thanks for update 👍

[2018-03-09 07:24] anjmao commented on #331
@maxkorz Thanks. Naming file utils was bad idea. Renamed to value-utils.ts

[2018-03-09 07:24] #333 closed

[2018-03-09 07:26] #331 closed

[2018-03-09 07:28] anjmao commented on #330
@maxkorz Thanks, I agree.

[2018-03-09 07:30] anjmao commented on #283
@varnastadeus As we talked, you can update readme add add a note that appenTo element should be relative to work correctly.

[2018-03-09 07:44] maxkorz commented on #330
Hmm... I didn't know about the `[selectableGroup]` input.
I assume `ng-optgroup` should be `marked` on open when `[selectableGroup]` is `true`

[2018-03-09 07:44] anjmao opened #335 "Do not trigger parent's change detection on item hover"
Currently angular is triggering change detection for parent components on item hover. https://github.com/angular/angular/issues/22646

Solution:
Bind to native DOM events

[code]

[2018-03-09 08:58] varnastadeus commented on #332
@jcmannam its already possible, https://ng-select.github.io/ng-select#/templates last example.

[2018-03-09 09:38] maxkorz opened #336 "Custom label and option and optgroup demo looks broken"
Demo https://ng-select.github.io/ng-select#/templates
Section "Custom label and option and optgroup"
Looks like this part
[code]
is broken somehow. `item.name` in `ng-optgroup-tmp` is not displayed

<img src="https://i.imgur.com/54G6yn7.png">

[2018-03-09 11:00] varnastadeus commented on #336
@maxkorz because optGroup doesn't have name property, there is mistake in demo.

[2018-03-09 11:07] anjmao commented on #336
I did it on purpose. Items are grouped by avatar url, but it may look confusing, will remove `<b [innerHTML]="item.name"></b>` 😄

[2018-03-09 12:57] maxkorz commented on #336
@varnastadeus yes, as I pointed out in the issue title, the demo itself looks broken. I don't think there's anything wrong with the plugin code. Just a simple mistake in demo.

[2018-03-09 14:27] maxkorz commented on #336
Wait, maybe there's a bug in the plugin. Perhaps the `ng-opgroup` item should have all properties that `ng-option` has? So the demo should work fine

[2018-03-09 16:29] varnastadeus commented on #283
We decided to keep `position: relative` as solution since it works in all cases and doesn't have any implications on codebase. Other solution would require traversing dom to get right offset which seems like overkill considering `body` usually doesn't have any margins.

[2018-03-09 16:30] #283 closed

[2018-03-09 16:30] #332 closed

[2018-03-09 18:36] shyamal890 commented on #309
@anjmao thoughts on when this would be available?

[2018-03-10 09:21] vicabelotelova opened #337 "moving text to a new line"
If my text value bigger the select width.
How i can fix it?

[2018-03-10 11:41] lohiaad opened #338 "Feature Request: Flag to remove/hide add tag option from list"
[x] feature request

I want to use addtag functionality but don't want to show "add tag 'tagname'" as option in dropdown.

Thanks

[2018-03-10 14:29] varnastadeus commented on #337
it's not stackoverflow, sorry.

[2018-03-10 14:29] #337 closed

[2018-03-10 15:25] anjmao commented on #338
Hi, how are you suggesting to add tag ten? :)

[2018-03-10 15:27] varnastadeus commented on #338
@lohiaad have you tried setting `addTagText` to empty string?

[2018-03-10 20:12] aadii104 opened #339 "enter event in dropdown leads to call (ngSubmit)."
Please fill below information if issuing a bug report.
### Expected behaviour
Enter on a dropdown content should just select the field.

### Actual behaviour
The enter on drodown leads to calling function defined (ngSubmit).

### More Info
ng-select version: [^5.2.1]

browser: [Chrome]

reproducible in demo page: [No]

[2018-03-11 02:47] mjacobson7 opened #340 "Prevent removing a single (predefined) multi-select item"
I would like to submit a feature request.  I have been reading through the docs and don't see that this is currently possible.

What I'm looking for is the ability to disable one multiple select item from being removed.  My use-case, is I have a multi-select input on a users' profile.  Some users (such as admins) have the ability to add or remove roles for themselves or other users.  The default r

[2018-03-11 08:24] varnastadeus commented on #340
@mjacobson7 have you tried setting `user` item as disabled? Or you could use custom template and hide `x` button for user.

[2018-03-11 09:58] lohiaad commented on #338
@varnastadeus  yes. it shows "tagname" in the option
@anjmao by keyboard enter.

i am using ng-select as search/typeahead in my app. User type keywords in ng-select and press enter which filters datagrid. i want to listen that enter event. right now i am thinking of using addTag as promise to achieve this. if there is any other way to track enter event that would also help.

Thanks

[2018-03-11 17:32] arun-maddheshia commented on #269
@varnastadeus Just create a [StackBlitz](https://stackblitz.com/edit/angular-ng-select)

![screenshot_2018-03-11_22-55-55](https://user-images.githubusercontent.com/5073214/37256406-491bce56-2580-11e8-918f-9902354766bc.png)

[2018-03-11 19:22] mjacobson7 commented on #340
@varnastadeus I must have overlooked that! Thank-you, this helps immensely! I set the disabled: true in the user object and now it behaves as expected.

[2018-03-11 19:22] #340 closed

[2018-03-12 07:06] varnastadeus commented on #269
@arun-maddheshia thanks, will look at it

[2018-03-12 07:07] anjmao commented on #339
@aadii104 Hi, thanks for reporting.

[2018-03-12 07:53] #339 closed

[2018-03-12 17:40] nareshpingale commented on #217
Added in #341

[2018-03-12 17:54] nareshpingale commented on #201
Added in #341
Use `ng-notfound-tmp`

[2018-03-13 00:06] ycros opened #343 "Custom items are duplicated when setting ngModel multiple times"
### Expected behaviour
When setting a new ngModel containing custom items, the UI should update to match the items that were set.

### Actual behaviour
Demo: https://plnkr.co/edit/dJEGGTFv9Uug9WsuOhF3?p=preview - press "Set model" several times to cause the bug.

Custom items end up duplicated if they are already present when setting an ngModel. However, if you manually add a custom item by typing

[2018-03-13 05:35] liwonder opened #344 "Limit the max shown number of labels?"
Please fill below information if issuing a bug report.
### Expected behaviour
Can we limit the max label shown number?
Like this:
![screen shot 2018-03-13 at 1 31 40 pm](https://user-images.githubusercontent.com/10594457/37324217-1898aa8a-26c3-11e8-9d1a-3944a9f52bed.png)

### Actual behaviour
![screen shot 2018-03-13 at 1 34 02 pm](https://user-images.githubusercontent.com/10594457/37324228-3944b1

[2018-03-13 05:41] liwonder commented on #344
Actually, this is a feature request, and I have implemented this feature in our own fork repository. I can make PR for this feature if you are interested.

[2018-03-13 06:39] anjmao commented on #344
Hi @liwonder
There is similar request https://github.com/ng-select/ng-select/issues/323 which would allow to customize whole label container so you can even have text like `Selected 5 items`.

[2018-03-13 06:41] liwonder opened #345 "Can I use alternative property for labels?"
Please fill below information if issuing a bug report.
### Expected behaviour
Sometime we have this demand, we want full text in option list and a shorten one in label area.
We have two property to store all the info we need, but I don't find this feature is supported.
![screen shot 2018-03-13 at 2 31 57 pm](https://user-images.githubusercontent.com/10594457/37326136-b8547eb6-26cb-11e8-99fc-77faff

[2018-03-13 06:43] anjmao commented on #343
Hi @ycros Thanks for reporting.

[2018-03-13 06:45] anjmao commented on #345
Hi @liwonder

You can use custom label template. When using it on multiselect it will be applied for each item  so you can use another field to show short text https://ng-select.github.io/ng-select#/multiselect See custom labels example.

[2018-03-13 06:46] liwonder commented on #344
Thanks @anjmao, I will try it.

[2018-03-13 06:50] liwonder commented on #345
Nice! Thanks @anjmao 👍

[2018-03-13 07:09] #217 closed

[2018-03-13 07:11] #343 closed

[2018-03-13 08:27] #345 closed

[2018-03-13 08:28] #201 closed

[2018-03-13 09:55] siddhantsorann opened #347 "Changing the model"
How can i change the model of the multiselect? If i only want to print the number of items selected rather than listing all the items selected.

[2018-03-13 09:57] varnastadeus commented on #347
#344 duplicate

[2018-03-13 09:57] #347 closed

[2018-03-13 14:22] maxkorz commented on #344
I'm looking forward for this! @liwonder it'd cool if you'd make a PR for this feature.

[2018-03-13 14:36] maxkorz opened #348 "Error "Multiple select model should be array" in NgForm"
### Expected behaviour
Error `Error: Multiple select model should be array.` should not happen when `<ng-select>` is being used inside `NgForm`.

### Actual behaviour
The error happens when ngModel is `null` and when ngModel is a predefined array.
Demo: https://stackblitz.com/edit/angular-jtj3dd?file=app%2Fapp.component.html

### More Info
ng-select version: 0.26.1
browser: Google Chrome
reproduci

[2018-03-13 15:54] pwarelis commented on #269
To disable (fool) the autofill you need to set the input name attribute to something that chrome has not seen before and has no history of. Try uuid.

[2018-03-13 15:54] varnastadeus commented on #348
@maxkorz there is validation error since you are binding same property `city` in three different dropdowns while `multiple` dropdown requires value of type array.

[2018-03-13 16:02] maxkorz commented on #348
@varnastadeus Sorry but you are wrong. Each dropdown is unique as it is bound to local `<form>`. Each `city` property is unique within each form.

I made three different dropdowns to show the error in different scenarios.

If you want, here's a single dropdown https://stackblitz.com/edit/angular-tr8vjg?file=app/app.component.css I'm still getting the error.

[2018-03-13 16:12] anjmao commented on #344
@liwonder I will implement custom label template for multiselect :)

[2018-03-13 16:14] varnastadeus commented on #348
@maxkorz sorry I overlooked that. Error is happening because `resetForm` set initial value to empty string `""` and `ng-select` requires it to be array.

[2018-03-13 16:20] maxkorz commented on #348
@varnastadeus but `resetForm` sets initial value to `city: ['Nida'],`....
It works fine, but I get that annoying error in the developer console.

Also, the error happens when initial value is `null`. Which is not correct, as `null` should be skipped
[code]

[2018-03-13 19:48] varnastadeus commented on #348
@maxkorz it doesn't happen when it's null. `resetForm` firstly sets value to `""` and then `['Nida']`.

[2018-03-13 20:42] maxkorz commented on #348
@varnastadeus

It does happen for me. Take a look at this demo https://stackblitz.com/edit/angular-fcpv2n?file=app/app.component.ts

I'm using a basic feature of Angular. I'm pretty sure the issue is somewhere in your plugin. I'm using over 20 3rd party modules in my project and only this plugin has such issue.

[2018-03-13 21:09] maxkorz commented on #348
I forked the code and added `console.log` to every method in NgSelectComponent

Here's what I got:
<img src="https://i.imgur.com/s5xX5Nl.png">

For some reason`writeValue` function executes twice. The second call is made with an empty string out of nowhere

[2018-03-13 21:18] varnastadeus commented on #348
It doesn't comes out of nowhere, it comes from form you are having.

[2018-03-13 21:27] maxkorz commented on #348
Where do you see an empty string in my form?

[2018-03-13 22:17] maxkorz commented on #348
You were right. That's how Angular works. `writeValue` is called twice. Is there any workaround you can add?

[2018-03-14 02:06] liwonder commented on #344
@anjmao Awesome work! 💯

[2018-03-14 06:44] anjmao commented on #348
Simply workaround would for now would be to initial ngModel with empty array like this `[ngModel]="[]"`

But this is a bug, ngModel should not need to be set at all if it is used only for form to gather values. I will fix it.

[2018-03-14 10:34] Karasishka opened #352 "Add ability to disable focus and blur events"
### Expected behaviour
If user don't need focus and blur events - he should be able to deactivate them and ng-select not create these events

### Actual behaviour
Focus and blur events are creating for each of ng-select on page. If there is a lot of ng-selects on page (more than 10 or 20) - the page became very slow because on each click event it should check two events for each of ngselect on pag

[2018-03-14 15:59] varnastadeus commented on #352
Ok, I have checked to see if there is actual issue here. Single `ng-select` adds 1 additional `focus` and `blur` event listeners. Each of those event listeners triggers events for corresponding `ng-selects`. Prove me wrong but I don't see any issues here and there is no way that `ng-select` could have performance impact.

[2018-03-14 16:14] #336 closed

[2018-03-14 16:40] #344 closed

[2018-03-14 16:40] #323 closed

[2018-03-14 16:41] varnastadeus commented on #323
#350

[2018-03-14 17:46] #348 closed

[2018-03-15 02:23] liwonder opened #354 "Label style fails"
### Expected behaviour
![screen shot 2018-03-15 at 10 15 03 am](https://user-images.githubusercontent.com/10594457/37440951-1138821a-283a-11e8-9c9c-a39ce973fac5.png)

### Actual behaviour
![screen shot 2018-03-15 at 10 11 23 am](https://user-images.githubusercontent.com/10594457/37440997-34aafd86-283a-11e8-9d29-2c6493759d8a.png)

### More Info
We have a body element style set like this:
`body {